/*/////////////////////////////////// BEGIN CreateSpace for Styles ////////////////////////////////////// */
.input-shadow{
    border: 1px solid #f6f6f6;
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
}

.input-shadow:hover{
    box-shadow: 0px 0px 0px 0 rgba(46,61,73,.2);
    border: 1px solid #23d7b2;
    background: linear-gradient(to right, #FFF, #f6f6f6);
  }

  #deleteMember, #searchMember {
      border: none;
  }

#deleteMember:hover {
    cursor: pointer;
}

#searchMember:hover {
    cursor: pointer;
}

#memberParentDiv{
    height: 400px;
    overflow-y: scroll;
}

.minus-icon {
    color: red;
}

.modal-title {
    float: left;
    margin: auto;
}

#addMemberBtn{
    float: right;
    margin: auto;
}

#addMembers{
    font-size: medium;
    color: black;
    font-style: none;
}

.text-area.form-input {
    height: 100px !important;
}

.space-accordion-border, .cospace-add-mem-btn{
    margin-top: 20px !important;
}
/*/////////////////////////////////// END CreateSpace for Styles ////////////////////////////////////// */