<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
<head>
    <!-- Site Title-->
    <title>404 page</title>
    <meta content="telephone=no" name="format-detection">
	<meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
      <!--BEGIN Stylesheets file links -->
	<link href="/images/logo.png" rel="icon" type="image/x-icon">
	<link href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic" rel="stylesheet" type="text/css">
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"><!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link href="/styles/style.css" rel="stylesheet">
      <!--END Stylesheets file links -->
</head>
<body class=" bg-white">
    <!-- BEGIN Page for 404 error  -->
    <div class="page">
         <!-- BEGIN page loader -->
         <div id="page-loader">
             <div class="cssload-container">
                 <div class="cssload-speeding-wheel"/>
                </div>
            </div>
            <!-- End page loader -->
            <section class="text-center">
                <div class="shell">
                      <!-- BEGIN Page center text for 404 error  -->
                    <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12" >
                        <div class="div-page-center">
                            <a class="linear-icon-sad page-error-icon-size"></a>
                            <h2>Page Not Found</h2>
                            <p>The page requested couldn't be found - this could be due to a spelling error in the URL or a removed page.</p>
                            <a class="button button-primary" href="/dashboard" >Go Home</a>
                        </div>
                    </div>
                      <!-- END Page center text for 404 error  -->
                </div>
             </section>
            </div>
             <!-- END Page for 404 error  -->
</body>
