<!--BEGIN Meeting-Card -->
<div  class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
  <div class="bg-white box-shadow-meeting h-div-border s-height padding-left-left-none thumb-corporate">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12  padding-left-left-none ">
      <!-- Meeting Title -->
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-left-none">
        <ul class="text-center">
          <li><b>
            <h6 class="h6-title-color  text-overflow-title h6-title-medium">Title</h6>
          </b></li>
        </ul>
      </div>
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <!-- Meeting Icon Telephone -->
        <div class="col-md-2 col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-left-left-none">
          <i class="text-color-black linear-icon-telephone"></i>
        </div>
        <!-- Meeting Set Telephone Number -->
        <div class="col-md-10 col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-left-left-none">
          <p class="text-font-size text-margin-top">9894805882</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <!-- Meeting Time  -->
        <div class="col-md-2 col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-left-left-none">
          <!-- Meeting Time  -->
          <i class="text-color-black linear-icon-clock2"></i>
        </div>
        <!-- Meeting Set Time Value   -->
        <div class="col-md-10 col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-left-left-none">
          <p class="text-font-size text-margin-top">10.00am To 11.00am</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <!-- Meeting icon Calendar -->
        <div class="col-md-2 col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-left-left-none">
          <i class="text-color-black linear-icon-calendar-full"></i>
        </div>
        <!-- Meeting Date-->
        <div class="col-md-10 col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-left-left-none">
          <p class="text-font-size text-margin-top">09/10/2017 To 09/10/2017</p>
        </div>
      </div>
    </div>
    <div class="thumb-corporate__overlay">
      <ul class="list-inline-sm thumb-corporate__list icon-bottom">
        <li>
          <p class="btn actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm"  data-placement="top" title="<%= translation.HUB_SPACES_TOOLTIP_INFO %>" data-toggle="modal" data-target="#myModal">
            <i class="linear-icon-reading"></i>
          </p>
        </li>
        <li>
          <p class="btn btn-circle thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="modal"  title="<%= translation.HUB_SPACES_TOOLTIP_DELETE %>">
            <i class="linear-icon-trash2"></i>
          </p>
        </li>
      </ul>
    </div>
  </div>
  
</div>
    
<!-- END Meeting-Card -->
