<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h6>SpaceName</h6> -->
      </div>
      <div class="modal-body padding-none-all">
        <div class="content-style-form content-style-form-1">
          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-6 padding-right-none padding-left-none h-m-top-none">
            <div class="sl-model-bg-color sl-model-height">
              <ul class="text-center">
                <li>
                  <h6 class="text-overflow-title sl-model-text-color h6-title-medium">Space Details</h6>
                </li>
              </ul>
              <ul class="sl-m-top-text">
                <li>
                  <b>
                    <h6 id="modalName" class="h6-title text-overflow-title "></h6>
                  </b>
                </li>
              </ul>
              <ul>
                <li>
                  <h6 id="modalTenant" class="h6-title  text-overflow-title "></h6>
                </li>
              </ul>
              <ul>
                <li>
                  <h6 id="modalUri" class="sl-model-text-font-small text-overflow-title"><h6>
                </li>
              </ul>
              <ul>
                <li>
                  <h6 id="modalOwnerJid" class="sl-model-text-font-small text-overflow-title"></h6>
                </li>
              </ul>
              <!-- <ul>
                <li>
                  <h6 id="modalMembers" class="sl-model-text-font-small text-overflow-title ">Members : 5</h6>
                </li>
              </ul> -->
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-6 padding-left-right-none h-m-top-none">
            <div class="sl-model-height">
              <ul class="text-center">
                <li>
                  <b>
                    <h6 class="h6-title-color text-overflow-title h6-title-medium">Members List</h6>
                  </b>
                </li>
              </ul>
              <div class="sl-m-top-text sl-model-scroll-member">
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none h-div-border sl-div-shadow-member">
                  <!-- BEGIN card two  spaces name for Spaces members-->
                  <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 icon-cursor padding-left-right-none" data-toggle="modal" data-target="#myModal" title="Sreeharsha.inflexiontech@gmail.com">
                    <ul class="padding-left-right-none">
                      <li class="padding-left-right-none">
                        <b>
                          <h6 class="title-color padding-left-right-none title-align text-margin-top text-overflow-title" >Sreeharsha.inflexiontech@gmail.com</h6>
                        </b>
                      </li>
                    </ul>
                  </div>
                  <!-- END card two  spaces name for Spaces members -->
                  <!-- BEGIN card two  show the icon mic,camera and delete for Spaces members-->
                  <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                    <ul class="list-inline-sm icon-right ">
                      <li class="members-padding-icon">
                        <p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size ">
                          <i class="linear-icon-mic"></i>
                        </p>
                      </li>
                      <li class="members-padding-icon">
                        <p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size ">
                          <i class="linear-icon-camera"></i>
                        </p>
                      </li>
                      <li class="members-padding-icon">
                        <p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size ">
                          <i class="linear-icon-trash2"></i>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <!-- BEGIN card two show the icon mic,camera and delete for Spaces members-->
                </div>
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none  h-div-border sl-div-shadow-member">
                  <!-- BEGIN card two  spaces name for Spaces members-->
                  <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none">
                    <ul>
                      <li>
                        <b>
                          <h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6>
                        </b>
                      </li>
                    </ul>
                  </div>
                  <!-- END card two  spaces name for Spaces members -->
                  <!-- BEGIN card two  show the icon mic,camera and delete for Spaces members-->
                  <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                    <ul class="list-inline-sm icon-right ">
                      <li class="members-padding-icon">
                        <p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size ">
                          <i class="linear-icon-mic"></i>
                        </p>
                      </li>
                      <li class="members-padding-icon">
                        <p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size ">
                          <i class="linear-icon-camera"></i>
                        </p>
                      </li>
                      <li class="members-padding-icon">
                        <p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size ">
                          <i class="linear-icon-trash2"></i>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <!-- BEGIN card two show the icon mic,camera and delete for Spaces members-->
            
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="editBtn" type="button" class="hide btn-padding-edit button button-primary" data-dismiss="modal">Edit</button>
      </div>
    </div>
  </div>
</div>