<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
	<!-- Site Title-->
	<title>
		<%= translation.HUB_ACTIVITY_TITLE %>
	</title>
	<!-- Site logo images-->
	<link href="/images/logo.png" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="/styles/meeting/meeting.css">
	<link rel="stylesheet" href="/styles/common/sweetalert.css">

	<!--Stylesheets file links -->
	<% include _layouts/common-header %>
</head>

<body class="h-background-color">
	<!--BEGIN Page activitylist -->
	<% include _layouts/header-with-navigation %>
		<div class="page">
			<!-- page loader -->
			<div id="page-loader">
				<div class="cssload-container">
					<div class="cssload-speeding-wheel"></div>
				</div>
			</div>
			<!-- BEGIN Current Activities toolbar-->

			<div class="container-fluid breadcrumb-container">
				<ol class="breadcrumb">
					<h5 class="meeting-head-bread  t-c-default-toolbar">
						Activity
					</h5>
					<li>
						<a href="/dashboard" class="breadcrumb-links">
							<%= translation.HUB_SPACES_TOOLBAR_DASHBOARD %>
						</a>
					</li>
					<li>
						Activity
					</li>
				</ol>
			</div>
			<!-- END Current Activities toolbar-->

			<section>
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12  padding-left-right-none">
					<div class="container-fluid breadcrumb-container">
						<ol class="toolbar-padding" style="text-align: left">
							<h5 class="text-color-default ">
								Active Meetings
							</h5>
						</ol>
					</div>
				</div>
				<!-- END Activities search head -->

				<div class="modal-scrollbar bg-white-modal" style=" overflow-x: auto;  padding: 0px 1px 0px 0px;">
					<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
						<div id="activity-card">

							<a href="#" id="ui-to-top" class="ui-to-top active"></a>
						</div>

					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
					<% include _layouts/cards/activitylist-card %>
						<% include _layouts/modals/activitylist-modal %>
				</div>

				<!-- BEGIN Current Activities -->

				<!-- END Current Activities -->

				<!-- BEGIN Recent Activities Toolbar -->
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12   padding-left-right-none">
					<div class="container-fluid breadcrumb-container">
						<ol class="toolbar-padding" style="text-align: left">
							<h5 class="text-color-default ">
								Recent Meetings
							</h5>
						</ol>
					</div>
				</div>
				<!-- END Recent Activities Toolbar -->
				<!-- BEGIN Recent Activities -->

				<div class="modal-scrollbar bg-white-modal" style=" overflow-x: auto;  padding: 0px 1px 0px 0px;">
					<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
						<div id="recent-meeting-card">
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
					<% include _layouts/cards/recent-meeting-card %>
						<% include _layouts/cards/model %>
				</div>
				<!-- END Recent Activities -->
			</section>
			<!-- BEGIN Template script file links -->
			<% include _layouts/common-scripts %>
				<!-- <script src="/scripts/spaces/spacelist.js"></script> -->
				<script src="/scripts/activity/activitylist.js"></script>
				<!--  END Template script file links src -->
				<script type="text/javascript" src="/scripts/meeting/meeting.js"></script>
				<script src="/scripts/jquery.twbsPagination.min.js"></script>
				<script src="/scripts/inbuilt/toastr.min.js"></script>
				<script src="/scripts/common/sweetalert.min.js"></script>

				<!-- BEGIN Spaces script -->
				<script src="/scripts/inbuilt/classie.js"></script>
				<script src="/scripts/inbuilt/uiMorphingButton_fixed.js"></script>
				<script>
					$(document).ready(function () {
						$("#activityList").addClass("active");
					});
				</script>
		</div>
		<%include _layouts/footer %>


</body>

</html>