/*/////////////////////////////////// BEGIN Meeting for Styles ////////////////////////////////////// */

.text-margin-top{ margin-top: 5px;}
.box-shadow-meeting{
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: .375rem;
}
.box-shadow-meeting:hover{
  box-shadow: 0px 0px 0px 0 rgba(46,61,73,.2);
  border: 1px solid #23d7b2;
  background: #e0e0e2;
  opacity: 0.8;
}

/*/////////////////////////////////// BEGIN Meeting for Styles ////////////////////////////////////// */

/*/////////////////////////////////// BEGIN Card Meeting for Styles ////////////////////////////////////// */
.btn-padding-edit{ padding: 8px 30px !important;}
.icon-bottom{
  position: absolute  !important;
  bottom: 10px;
}
/*/////////////////////////////////// End Card Meeting for Styles ////////////////////////////////////// */
