/*/////////////////////////////////// BEGIN Meeting for Styles ////////////////////////////////////// */

.text-margin-top{ margin-top: 5px;}
.box-shadow-meeting{
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: .375rem;
}
.box-shadow-meeting:hover{
  box-shadow: 0px 0px 0px 0 rgba(46,61,73,.2);
  border: 1px solid #23d7b2;
  background: #e0e0e2;
  opacity: 0.8;
}
.all-card-margin-top{margin-top: 5%;}

/*/////////////////////////////////// BEGIN Meeting for Styles ////////////////////////////////////// */

/*/////////////////////////////////// BEGIN Card Meeting for Styles ////////////////////////////////////// */
.btn-padding-edit{ padding: 8px 30px !important;}
.icon-bottom{
  position: absolute  !important;
  bottom: 10px;
}
.meeting-div{height: 23px !important;}
.card-text-spacing{ word-spacing: 11px;}
.card-text-f-size{
font-size: medium;
font-weight: 400;
font-size: 20px;
margin-top: -5px;
color: #9c27b0;
}
.card-text-spacing-time{ word-spacing: 7px;}
.card-m-top{ margin-top: 8px; }
.card-m-right{text-align: right; }
.card-icon-size-status{font-size: 19px !important;}
.card-texe-type-left{
  left: 11px;
  position: absolute;
}
.crad-bottom-div{ bottom: 5px; }
.m-details-padding{padding: 10px;}
.m-details-color{
  font-size: medium;
  font-weight: 400;
  font-size: 20px;
  margin-top: -5px;
  color: #9c27b0;
}
.m-details-color-size{
  font-size: 14px;
  color: #888888;
}
.modal-margin-t{margin-top: 12%;}
.modal-border-r{border-right: 1px solid #e5e5e5;}
.modal-padding-member{
  padding: 3px;
}
.modal-toolbar-border-t-b{
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.modal-t-align-l{text-align: left;}
.modal-border-radius{border-radius: 5px; !important}
/*/////////////////////////////////// End Card Meeting for Styles ////////////////////////////////////// */
