<!--BEGIN Meeting-Card -->
<div  class="col-sm-6 col-md-4 col-xs-12 col-lg-3 thumb-corporate">
  <div class="bg-white box-shadow-meeting h-div-border s-height  padding-left-left-none">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12  padding-left-left-none">
      <!-- Meeting Title -->
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-left-none">
        <ul class="text-center">
          <li><b>
            <h6 class="h6-title-color  text-overflow-title h6-title-medium">Title</h6>
          </b></li>
        </ul>
      </div>
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <!-- Meeting Icon Telephone -->
        <div class="col-md-2 col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-left-left-none">
          <a class="linear-icon-telephone"></a>
        </div>
        <!-- Meeting Set Telephone Number -->
        <div class="col-md-10 col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-left-left-none">
          <p class="text-font-size text-margin-top">9894805882</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <!-- Meeting Time  -->
        <div class="col-md-2 col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-left-left-none">
          <!-- Meeting Time  -->
          <a class="linear-icon-clock2"></a>
        </div>
        <!-- Meeting Set Time Value   -->
        <div class="col-md-10 col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-left-left-none">
          <p class="text-font-size text-margin-top">10.00am To 11.00am</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <!-- Meeting icon Calendar -->
        <div class="col-md-2 col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-left-left-none">
          <a class="linear-icon-calendar-full"></a>
        </div>
        <!-- Meeting Date-->
        <div class="col-md-10 col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-left-left-none">
          <p class="text-font-size text-margin-top">09/10/2017 To 09/10/2017</p>
        </div>
      </div>
    </div>
    <div class="thumb-corporate__overlay ">
      <ul class="icon-bottom list-inline-sm  thumb-corporate__list" >
        <li><a class="icon-sm linear-icon-telephone" href="#"></a></li>
        <li><a class="icon-sm linear-icon-telephone" href="#"></a></li>
        <li><a class="icon-sm linear-icon-telephone" href="#"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END Meeting-Card -->
