<div  class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
  
    <div class="bg-white h-box-shadow h-div-border s-height">
        <div class="col-sm-12 col-md-6 col-xs-12 col-lg-12  padding-left-left-none">
        
              <!-- meeting Title -->
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-left-none">
                <ul class="text-center">
                  <li><b>
                    <h6 class="h6-title-color  text-overflow-title h6-title-medium ">Title</h6>
                  </b></li>
                </ul>
              </div>
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-2 padding-left-left-none">
                  <a class="linear-icon-telephone"></a>
                </div>
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-10 padding-left-left-none">
                  <p class="text-font-size text-margin-top">9894805882</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-2 padding-left-left-none">
                  <a class="linear-icon-clock2"></a>
                </div>
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-10 padding-left-left-none">
                  <p class="text-font-size text-margin-top">10.00am To 11.00am</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-2 padding-left-left-none">
                  <a class="linear-icon-calendar-full"></a>
                </div>
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-10 padding-left-left-none">
                  <p class="text-font-size text-margin-top">09/10/2017 To 09/10/2017</p>
                </div>
              </div>
        
          
          </div>
        </div>
      </div>
  </script>
<!-- END Page card -->