<!-- BEGIN Page footer -->
<div class="footer-container">  
  <hr>
  <footer class="footer-corporate bg-light-grey" style="padding: 10px 0px; float: left!important;color: black">
    <!-- BEGIN Title and year-->
    <div class="shell">
      <p class="rights"><span><%= translation.HUB_FOOTER %></span><span>&nbsp;&copy;&nbsp;</span><span><%= year%></span></p>
    </div>
    <!-- END Title and year-->
  </footer>
</div> 
<!-- END Page footer -->