<header class="page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap" style="height: 100px;">
      <nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="69px" data-lg-stick-up-offset="1px" data-body-class="rd-navbar-default-linked">
        <div class="rd-navbar-inner">
       
          <div class="rd-navbar-panel">

            <div class="rd-navbar-brand"><img class="h-logo-image" src="/images/logo.png" ></div>
          </div>
          <div class="rd-navbar-brand"><h4><%= translation.HUBLOGIN_MEETING_HUB_MANAGER %></h4></div>
        </div>
      </nav>
    </div>
  </header>