/*/////////////////////////////////// BEGIN Footer for Styles ////////////////////////////////////// */
.footer-bottom{
    bottom: 0px;
    position: relative;
    border-top: 1px solid #888888;
    width: 100%;
}

/*/////////////////////////////////// END Footer for Styles /////////////////////////////////////// */