<!-- Modal -->
<div id="coSpacesUsersModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">

  <div class="modal-dialog  modal-lg">
    <!-- Modal content-->
    <div class="modal-content modal-margin-t">
      <div class="modal-header">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding-left-right-none ">
          <div class="col-md-6 col-sm-6 col-xs-12 col-lg-10 padding-left-right-none ">
            <h6 id="modalTitle" class="space-details h6-title-color text-overflow-title h6-title-medium us-title-color modal-t-align-l">
              <!-- Allowed RODC Password Replication Group.users -->
            </h6>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 col-lg-2 padding-left-right-none">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
        </div>
      </div>

      <!-- BEGIN Modal Body -->
      <div class="modal-body padding-none-all">

        <div class="content-style-form content-style-form-1">
          <!-- BEGIN Space Details -->
          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-6 padding-left-right-none h-m-top-none modal-border-r">
            <div class="sl-model-bg-color sl-model-height">
              <!-- BEGIN Set Title-->
              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12  modal-toolbar-border-t-b padding-left-right-none">
                <div class="container-fluid breadcrumb-container">
                  <ol class="toolbar-padding" style="text-align: left">
                    <h5 class="text-color-default ">
                      Space Details
                    </h5>
                  </ol>
                </div>
              </div>
              <!-- End Set Title-->

              <!-- BEGIN Pages Loading -->
              <div class="loading-modal  body-center-details">
                <div class="cssload-container">
                  <div class="cssload-speeding-wheel"></div>
                </div>
              </div>
              <!-- End Pages Loading -->
              <!-- BEGIN Set Details -->

              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none space-details">
                <div id="mainParent" class="s-height m-details-padding">
                  <!-- BEGIN Set Name,URI and Members for Space Details -->
                  <div class="col-md-12 col-sm-12  col-xs-12 col-lg-12 padding-left-right-none">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding-left-right-none meeting-div">
                      <!-- Set Space ID icon -->
                      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2 padding-left-right-none meeting-div text-center">
                        <h6 class="fa-id-badge m-details-color"></h6>
                      </div>
                      <!-- Set Value Space ID -->
                      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-10 padding-left-right-none meeting-div ">
                        <h6 id="modalSpaceID" class="cursor-default  h6-title text-overflow-title" data-toggle=" " title="Allowed\20RODC\20Password\20Replication\20Group@inflexion.com">
                        </h6>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding-left-right-none meeting-div card-m-top">
                      <!-- Set Members icon -->
                      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2 padding-left-right-none meeting-div text-center">
                        <h6 class="linear-icon-users2 m-details-color"></h6>
                      </div>
                      <!-- Set Members Value -->
                      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-10 padding-left-right-none meeting-div">
                        <h6 id="modalTotalMembers" class="cursor-default h6-title text-overflow-title meeting-div"></h6>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding-left-right-none meeting-div card-m-top">
                      <!-- Set URI icon -->
                      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-2 padding-left-right-none meeting-div  text-center">
                        <h6 class="linear-icon-link2 m-details-color"></h6>
                      </div>
                      <!-- Set URI Value -->
                      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-10 padding-left-right-none meeting-div">
                        <h6 id="modalURI" class="cursor-default h6-title text-overflow-title"></h6>
                      </div>
                    </div>
                  </div>
                  <!-- End Set Name,URI and Members for Space Details -->

                </div>
              </div>
              <!-- End Set Details -->
            </div>
          </div>
          <!-- End Space Details -->

          <!-- BEGIN Members List -->
          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-6 padding-left-right-none h-m-top-none ">
            <div class="sl-model-height">
              <!-- BEGIN Set Title-->
              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 modal-toolbar-border-t-b padding-left-right-none">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                  <div class="container-fluid breadcrumb-container">
                    <ol class="toolbar-padding" style="text-align: left">
                      <h5 class="text-color-default ">
                        Members List
                      </h5>
                    </ol>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">

                  <form class="padding-top-none search-m-t">
                    <div class="input-group">
                      <input id="inputSearchMembers" type="text" class="form-control sharch-width-modal" name="searchMembers" placeholder="Search Members">
                      <span id="btnSearchMembers" class="input-group-addon input-search cursor-pointer ">
                        <i class="glyphicon linear-icon-magnifier searchMembers"></i>
                      </span>
                    </div>
                    <div class="t-right noMembersRefreshIcons">
                      <a class="linear-icon-undo2"></a>
                    </div>
                  </form>
                </div>
              </div>
              <!-- End Set Title-->
              <div class="modal-padding-member sl-model-scroll-member">
                <!-- BEGIN Pages Loading -->
                <div class="loading-moda-members body-center">
                  <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                  </div>
                </div>
                <!-- End Pages Loading -->

                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding-left-right-none ">
                  <!-- BEGIN Set Spaces members -->
                  <div class="space-members-list  cursor-default" id="spaceMembersModal"></div>
                  <!-- End Set Spaces members -->
                </div>

              </div>
            </div>
          </div>
          <!-- End Members List -->
        </div>
      </div>
      <!-- End Modal Body -->
      <div class="modal-footer">
        <button id="btnScheduleModal" type="button" class="btn-padding-edit button button-primary" data-dismiss="modal">Schedule Meeting</button>
        <button id="modalEditBtn" type="button" class="btn-padding-edit button button-primary" data-dismiss="modal">Edit</button>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN Set Spaces Members Handlebars-->
<script id="spaceMembers" type="text/x-handlebars-template">
  {{#each coSpaceUser}}
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding-left-right-none h-div-border sl-div-shadow-member space-members-list">
      <!-- BEGIN Set Spaces members -->
      <ul class="padding-left-right-none cursor-default" data-toggle=" " title="  {{userJid}}">
          <li class="padding-left-right-none">
              <b>
                  <h6 class="title-color text-padding-m-t padding-left-right-none title-align text-margin-top text-overflow-title">
                      {{#if userJid}}
                      {{userJid}}
                        {{else}}
                       <p>No Members</p>
                         {{/if}}
                    </h6>
              </b>
          </li>
      </ul>
  </div>
  {{/each}}
</script>
<!-- End Set Spaces Members Handlebars-->


<!-- BEGIN Set Spaces Details Handlebars-->

<!-- End Set Spaces Details Handlebars-->


<!-- <script id="spaceDetails" type="text/x-handlebars-template">
  {{#each coSpaceUser}}
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 padding-left-right-none h-div-border sl-div-shadow-member space-members-list">

      <ul class="padding-left-right-none">
          <li class="padding-left-right-none">
              <b>
                  <h6 class="title-color text-padding-m-t padding-left-right-none title-align text-margin-top text-overflow-title">
                      {{#if userJid}}
                      {{userJid}}
                        {{else}}
                       <br><p>No Members</p>
                         {{/if}}
                    </h6>
              </b>
          </li>
      </ul>
  </div>
  {{/each}}
</script> -->