<!-- Modal -->
<div id="usersModal" class="modal fade" role="dialog">
  <div class="modal-dialog us-modal-width modal-border-radius">
    <!-- Modal content-->
    <div class="modal-content modal-border-radius">
     
        <div class="modal-body padding-left-right-none h-background-color modal-border-radius">
          <!-- Modaltitle -->
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 bg-white-modal ">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-6 modal-width-title  padding-left-right-none">
                <div class="us-name-circle">
                  <i class="card-icon-size linear-icon-man"></i>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-6 padding-left-right-none card-width-title us-title-color text-overflow-title h6-title-medium cursor-default">
                <ul>
                  <li>
                    <h6 class="us-title-color">Administrator@inflexion.com</h6>
                    <h6 class=" modal-title-color modal-title-mardin-top">Administrator</h6>
                    <h6 class=" modal-title-color ">notAvailable</h6>
                  </li>
                </ul>
              </div>
              <button type="button" class="close modal-icon-close" data-dismiss="modal">&times;</button>
            </div>
          </div>
          <!-- Toolbar Recent Meeting -->
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12  padding-left-right-none">
            <div class="container-fluid breadcrumb-container">
              <ol class="toolbar-padding" style="text-align: left">
                <h5 class="text-color-default ">
                  Recent Meetings
                </h5>
              </ol>
            </div>
          </div>
          <!-- Recent Meeting Scrollbar and -->
          <div class="modal-scrollbar bg-white-modal" style=" overflow-x: auto;  padding: 0px 1px 0px 0px;">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
              <div id="usersmodalrecent"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
              <% include _layouts/cards/recent-meeting-card %>
            </div>
          </div>

          <!--  Active Meeting -->
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
            <div class="container-fluid breadcrumb-container">
              <ol class="toolbar-padding" style="text-align: left">
                <h5 class="text-color-default ">
                  Active Meetings
                </h5>
              </ol>
            </div>
          </div>
          <div class="modal-scrollbar bg-white-modal" style=" overflow-x: auto;  padding: 0px 1px 0px 0px;">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
              <div id="usersmodalactive"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
              <% include _layouts/cards/active-meeting %>
            </div>
          </div>
          <!--  Schedule Meeting -->
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
            <div class="container-fluid breadcrumb-container">
              <ol class="toolbar-padding" style="text-align: left">
                <h5 class="text-color-default ">
                  Scheduled Meetings
                </h5>
              </ol>
            </div>
          </div>
          <div class="modal-scrollbar bg-white-modal" style=" overflow-x: auto;  padding: 0px 1px 0px 0px;">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
              <div id="usersmodalschedul"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
              <% include _layouts/cards/schedule-meeting %>
            </div>
          </div>
          <!--  Created Meeting -->
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
            <div class="container-fluid breadcrumb-container">
              <ol class="toolbar-padding" style="text-align: left">
                <h5 class="text-color-default ">
                  Created Meetings
                </h5>
              </ol>
            </div>
          </div>
          <div class="modal-scrollbar bg-white-modal" style=" overflow-x: auto;  padding: 0px 1px 0px 0px;">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
              <div id="usersmodalcreated"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
              <% include _layouts/cards/created-meeting %>
            </div>
          </div>

          <!--  Expired Meeting -->
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
            <div class="container-fluid breadcrumb-container">
              <ol class="toolbar-padding" style="text-align: left">
                <h5 class="text-color-default ">
                  Expired Meetings
                </h5>
              </ol>
            </div>
          </div>
          <div class="modal-scrollbar bg-white-modal" style=" overflow-x: auto;  padding: 0px 1px 0px 0px;">
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none text-center">
              <div id="usersmodalexpired"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
              <% include _layouts/cards/expired-meeting %>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>