<!-- Modal -->
<div id="usersModal" class="modal fade" role="dialog">
  <div class="modal-dialog us-modal-width">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6>DnsAdmins@inflexion.com</h6>
      </div>
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-left-right-none">
          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-6 h-m-top-none padding-left-right-none">
              <div class="sl-model-bg-color">
                <ul class="text-center"><li> <h6 class="text-overflow-title sl-model-text-color h6-title-medium">Harish@.inflexiontech.com</h6></li></ul>
                <ul class="sl-m-top-text"><li> <b><h6 class="h6-title text-overflow-title ">Owner:</h6></b></li></ul>
                <ul><li><h6 class="h6-title  text-overflow-title ">Layout Type : allEqual</h6></li></ul>
                <ul><li><h6 class="sl-model-text-font-small text-overflow-title ">Call ID: 700102</h6></li></ul>
                <ul><li><h6 class="sl-model-text-font-small text-overflow-title ">Members : 5</h6></li></ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-12 col-lg-6 h-m-top-none padding-left-right-none">
              <div class="sl-model-bg-color">
                <ul class="text-center"><li> <h6 class="text-overflow-title sl-model-text-color h6-title-medium">Harish@.inflexiontech.com</h6></li></ul>
                <ul class="sl-m-top-text"><li> <b><h6 class="h6-title text-overflow-title ">Owner:</h6></b></li></ul>
                <ul><li><h6 class="h6-title  text-overflow-title ">Layout Type : allEqual</h6></li></ul>
                <ul><li><h6 class="sl-model-text-font-small text-overflow-title ">Call ID: 700102</h6></li></ul>
                <ul><li><h6 class="sl-model-text-font-small text-overflow-title ">Members : 5</h6></li></ul>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>