.meeting-main-section {
    padding-top: 25px !important;
}

.thumbnail-cell, .thumbnail-corp_main {
    height: 210px !important;
}

.thumbnail-corp_main.well-lg {
    padding: 20px !important;
}

.thumbnail-corp_main {
    box-shadow: none;
    transition: box-shadow 0.5s; 
}

.thumbnail-corp_main:hover {
    background-color: #f8f8f8;
    box-shadow: 5px 5px 3px lightgrey;
    color: black;
}

.thumbnail_corp_overlay {
    padding: 0px;
}

 .thumbnail_corp_main2 {
    position: relative;
    top: 90%;
} 

.thumbnail-corp__caption {
    position: relative;
    bottom: 40%;
}

.head-subtitle {
    font-style: normal;
    font-size: medium;
}

.subtitle {
    font-style: normal;
    font-size: small;
 }

.contents_1 {
    text-align: left;
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    .meeting-main-section {
        padding-top: 45px !important;
    }    
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .thumbnail-corp_main.well-lg {
        padding: 15px !important;
    }
    
    .thumbnail_corp_main2 {
        position: relative;
        top: 78%;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .thumbnail-corp__caption {
        position: relative;
        bottom: 50%;
    }
    .thumbnail_corp_main2 {
        position: relative;
        top: 75%;
    }
}