.main-section {
    padding: 30px;
}

.done-btn {
    background-color: #37d37f !important;
    border-color: #37d37f !important;
}

.done-btn:hover {
    background-color: black !important;
    border-color: black !important;
}

#to {
    position: relative;
    left: 38%;
}

.datetime-div{
    display: flex;
}

.icon {
    width: 100%;
}

.icon::before{
    z-index: 1;
    position: absolute;
    top: 50%;
}

span#select2-sel1-container, span#select2-sel2-container, span#select2-sel3-container{
    position: relative;
    left: 20%;
}

@media only screen and (min-width: 768px) {
    .schedule-meeting-div{
        width: 50%;
        position: relative;
        left: 25%;
    }

    span#select2-sel1-container, span#select2-sel2-container, span#select2-sel3-container{
        position: relative;
        left: 6% !important;
    }

}

@media only screen and (min-width: 400px) {
    #to {
        position: relative;
        left: 42%;
    }
}

@media only screen and (max-width: 350px) {
    span#select2-sel1-container, span#select2-sel2-container, span#select2-sel3-container{
        position: relative;
        left: 20% !important;
    }
}

@media only screen and (min-width: 351px) and (max-width: 767px){
    span#select2-sel1-container, span#select2-sel2-container, span#select2-sel3-container{
        position: relative;
        left: 16% !important;
    }
}