.accordian-shell{
    padding: 0px;
}

.para-title {
    font-size: small;
}

.list-content {
    font-size: smaller;
}

.searchBtn-pagination-container {
    display: inline-flex;
    width: 100%;
}

.top-pagination {
    position: absolute;
    right: 1%;
}

/* .newbtn-search-group {
    width: 100%;
    display: inline-flex;
} */

.new-meet-btn{
    background-color: #37d37f !important;
    border-color: #37d37f !important;
    width: 50%;
}

.search-btn {
    /* margin-top: 0px !important; */
    width: 25%;
    height: 50px !important;
    margin: auto;
}

.search-input {
    min-height: 0px !important;
    height: 100% !important;
}

.main-section{
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 15px !important;
}

.panel-custom-body{
    display: inline-flex;
    width: 100%;
}

.list-group {
    width: 50%;
}

.pagination-nav{
    text-align: center;
    margin-top: 3%;
}

.panel.panel-custom {
    padding-left: 3% !important;
    padding-right: 3% !important;
    /* border-bottom: 1px solid lightgray; */
}

a.chevron-icon::before{
    font: 400 20px/20px "Linearicons" !important;
    content: '\e93a';
}

.chevron-icon::before {
    content: '\e939' !important;
}

/* .mobile .ui-to-top, .tablet .ui-to-top {
    display: initial !important;
}

.ui-to-top.active {
    transform: translatey(0) !important;
} */

.newmeeting-btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0;
    font-size: x-large;
    line-height: 1.42;
    border-radius: 60px;
    position: fixed;
    left: 2%;
    top: 20%;
    opacity: 0.6;
  }

.newmeeting-btn-circle:hover {
    opacity: 1;
}

a.button.button-primary.icon.linear-icon-plus.newmeeting-btn-circle::before {
    position: relative !important;
    top: 15% !important;
    left: 2% !important;
}

.meeting-head-bread {
    float: left;
}

/* .page-info {
    color: #000;
    font-size: large;
    position: absolute;
    left: 1% !important;
    font-weight: bolder;
} */

.breadcrumb-container {
    padding: 0px; 
    text-align: right;
    font-size: small;
}

.breadcrumb-links:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 425px){
    .panel-custom-body{
        display: block;
    }
    .list-group {
        width: initial;
    }
    .search-btn{
        width: 100%;
    }
    .searchBtn-pagination-container {
        display: block;
        width: 100%;
    }
    .top-pagination {
        position: unset;
        right: unset;
        text-align: center;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px){
    .panel.panel-custom {
        padding: 15px 6px 15px 6px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    .search-btn {
        width: 100% !important;
    }
    .searchBtn-pagination-container {
        display: block;
        width: 100%;
    }
    .top-pagination {
        margin-top: 10px;
        position: unset;
        right: unset;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .newmeeting-btn-circle {
        width: 50px;
        height: 50px;
        padding: 3px 0;
        font-size: large;
        line-height: 1.42;
        border-radius: 50px;
        position: fixed;
        left: 2%;
        top: 40%;
        opacity: 0.6;
      }
}

@media only screen and (max-width: 999px) {
    .meeting-head-bread {
        float: left !important;
        position: unset !important;
        top: unset !important;
    }
}

@media only screen and (min-width: 1000px) {
    .meeting-head-bread {
        float: left;
        position: absolute;
        top: 0%;
 }
} 