.meeting-main-section {
    padding-top: 25px !important;
}

.users-cell, .users-corp_main {
    height: 160px !important;
}

.users-corp_main.well-lg {
    padding: 20px !important;
}

.users-corp_main {
    box-shadow: none;
    transition: box-shadow 0.5s; 
}

.users-corp_main:hover {
    background-color: #fff;
    box-shadow: 5px 5px 3px lightgrey;
    color: black;
}

.users_corp_overlay {
    padding: 0px;
}

 .users_corp_main2 {
    position: relative;
    top: 90%;
} 

.users-corp__caption {
    position: relative;
    bottom: 60%;
}

.subtitle-users-head {
    font-style: normal;
    font-size: medium;
    text-align: center;
    width: 100%;
}

.subtitle {
    font-style: normal;
    font-size: small;
 }

.subtitle-users, .a_para_subhead {
    font-style: normal;
} 

.contents_1 {
    text-align: left;
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    .meeting-main-section {
        padding-top: 45px !important;
    }    
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .users-corp_main.well-lg {
        padding: 15px !important;
    }
    
    .users_corp_main2 {
        position: relative;
        top: 68%;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1000px){
    .users-corp__caption {
        position: relative;
        bottom: 65%;
    }
    .users_corp_main2 {
        position: relative;
        top: 65%;
    }
}
