<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
<head>
	<!-- Site Title-->
	<title>Home Default</title>
	<meta content="telephone=no" name="format-detection">
	<meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<link href="/images/favicon.ico" rel="icon" type="image/x-icon"><!-- Stylesheets-->
	<link href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic" rel="stylesheet" type="text/css">
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"><!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
	<link href="/styles/style.css" rel="stylesheet">
	<link href="/styles/newmeeting.css" rel="stylesheet">
	<link href="/styles/oldmeeting.css" rel="stylesheet">
</head>
<body class=" bg-white">
	<!-- Page -->
	<%include navbarhome %>
	<div class="page">
		<div id="page-loader">
			<div class="cssload-container">
				<div class="cssload-speeding-wheel"></div>
			</div>
		</div>
		<div class="container-fluid breadcrumb-container">
			<ol class="breadcrumb">
				<li style="list-style: none; display: inline">
					<h5 class="meeting-head-bread">Current Activities</h5>
				</li>
				<li>
					<a class="breadcrumb-links" href="/dashboard">Dashboard</a>
				</li>
				<li>Activities</li>
			</ol>
		</div>
		<section>
			<div class="shell">
				<!-- search box -->
				<div class="range range-10">
					<div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 h-pages-next">
						<nav></nav>
					</div>
				</div>
				<div class="range range-70">
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
                        <b>
											
                        <h6>Harish</h6>
                        </b>
											</li>
										</ul>
										<ul>
											<li>
										
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                    <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                   </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic" data-placement="top" data-toggle="tooltip" href="#invite" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic-mute" data-placement="top" data-toggle="tooltip" href="#Member" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera" data-placement="top" data-toggle="tooltip" href="#Settings" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera-crossed" data-placement="top" data-toggle="tooltip" href="#Settings" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6>Naveen</h6></b>
											</li>
										</ul>
										<ul>
											<li>
												<b></b>
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                            <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                           </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic" data-placement="top" data-toggle="tooltip" href="#invite" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic-mute" data-placement="top" data-toggle="tooltip" href="#Member" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera" data-placement="top" data-toggle="tooltip" href="#Settings" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera-crossed" data-placement="top" data-toggle="tooltip" href="#Settings" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6>Sreeharsha</h6></b>
											</li>
										</ul>
										<ul>
											<li>
												<b></b>
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                                 <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic" data-placement="top" data-toggle="tooltip" href="#invite" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic-mute" data-placement="top" data-toggle="tooltip" href="#Member" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera" data-placement="top" data-toggle="tooltip" href="#Settings" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera-crossed" data-placement="top" data-toggle="tooltip" href="#Settings" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6>Ravi</h6></b>
											</li>
										</ul>
										<ul>
											<li>
												<b></b>
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                                      <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                     </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic" data-placement="top" data-toggle="tooltip" href="#invite" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-mic-mute" data-placement="top" data-toggle="tooltip" href="#Member" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera" data-placement="top" data-toggle="tooltip" href="#Settings" title="unmute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-camera-crossed" data-placement="top" data-toggle="tooltip" href="#Settings" title="Mute"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
        </div>
        <p style="text-align: right;margin-right: 2%;font-size: 15px;margin-top: 10px;margin-bottom:10px;"><a href="#">see more...</a></p>
      </div>
      <div class="container-fluid breadcrumb-container">
          <ol class="breadcrumb" style="text-align: left">
              <h5 >Recent Activities</h5>
          </ol>
    </div>
    <div class="shell">
				<!-- search box -->
				<div class="range range-10">
					<div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 h-pages-next">
						<nav></nav>
					</div>
				</div>
				<div class="range range-70">
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
                        <b>
											
                        <h6>Sreeharsha</h6>
                        </b>
											</li>
										</ul>
										<ul>
											<li>
										
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                    <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                   </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6>Harish</h6></b>
											</li>
										</ul>
										<ul>
											<li>
												<b></b>
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                            <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                           </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6>Ravi</h6></b>
											</li>
										</ul>
										<ul>
											<li>
												<b></b>
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                                 <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-white h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6>Naveen</h6></b>
											</li>
										</ul>
										<ul>
											<li>
												<b></b>
												<h6 class="h6-title">Owner:</h6>
											</li>
										</ul><!-- <ul >
                                      <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                     </ul> -->
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                
								<div class="thumb-corporate__overlay text-center h-i-m-top" id="icon-list">
									<ul class="list-inline-sm">
										<li>
											<a class="thumb-corporate__list icon-sm linear-icon-reading" data-placement="top" data-target="#myModal" data-toggle="tooltip" href="#Edit" title="info"></a>
										</li>
										<li>
											<a class="thumb-corporate__list h-i-color icon-sm linear-icon-trash2" data-placement="top" data-toggle="tooltip" href="#Delete" title="Delete"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
        </div>
      </div>
      
     
    </section>


  
  </div>
 
<%include footer %>
	<script src="/node_modules/jquery/dist/jquery.min.js">
	</script> 
	<script src="/scripts/core.min.js">
	</script> 
	<script src="/scripts/script.js">
	</script> 
	<script src="/scripts/jquery.contenthover.min.js">
	</script> 
	<script src="/scripts/general.js">
	</script> 
	<script src="/scripts/spacelist.js">
	</script> 
	<script>
	       $(document).ready(function(){
	           $("#activityList").addClass("active");
	       });
	</script>
</body>
</html>