<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
<head>
	<!-- Site Title-->
	<title>CMS Hub  Activities</title>

	<meta content="telephone=no" name="format-detection">
	<meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<link href="/images/logo.png" rel="icon" type="image/x-icon">
	<link href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic" rel="stylesheet" type="text/css">
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"><!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
	<link href="/styles/style.css" rel="stylesheet">
	<link href="/styles/newmeeting.css" rel="stylesheet">
	<link href="/styles/oldmeeting.css" rel="stylesheet">
	<link href="/styles/spaces.css" rel="stylesheet">
</head>
<body class=" bg-white">
	<!-- Page -->
	<%include navbarhome %>
	<div class="page">
		<div id="page-loader">
			<div class="cssload-container">
				<div class="cssload-speeding-wheel"></div>
			</div>
		</div>
		<!-- <div class="container-fluid breadcrumb-container">
			<ol class="breadcrumb">
				<li style="list-style: none; display: inline">
					<h5 class="meeting-head-bread">Current Activities</h5>
				</li>
				<li>
					<a class="breadcrumb-links" href="/dashboard">Dashboard</a>
				</li>
				<li>Activities</li>
			</ol>
		</div> -->

		<div class="container-fluid breadcrumb-container">
			<ol class="breadcrumb">
				<h5 class="meeting-head-bread">Current Activities</h5>
				<li><a href="/dashboard" class="breadcrumb-links">Dashboard</a></li>
				<li>Activities</li>
			</ol>
		</div>
		<section>
			<div class="shell">
				<!-- search box -->
				<div class="range range-5 h-m-top-none " >
						<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">
		   
						  <div class=" col-md-12 col-xs-12 col-lg-4 h-m-top-none "></div>
						  <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none ">
						   <input class="form-input bg-gray-lighter  h-search-h" type="text" name="search" placeholder="Search">
						  </div>
						   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-pages-next  "><nav>
						   </div>
		   
						  </div>
						  <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">
		   
							<div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 h-m-top-none "></div>
							<div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none  h-navber-padding ">
							 <nav >
							  <ul class="pagination-classic  h-m-top-none">
							   <li class="active"><span>1</span></li>
							   <li><a href="#">2</a></li>
							   <li><a href="#">3</a></li>
							   <li><a href="#">4</a></li>
							   <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
							  </ul>
							 </nav>
							</div></div>
							 <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 h-pages-next "><nav>
							 </div>
							</div>
				
				
				<div class="range range-70">
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
                        <b>
											
                        <h6 class="h6-title-color" >Harish</h6>
                        </b>
											</li>
										</ul>
								<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 700401</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding" id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								
								
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6 class="h6-title-color" >Naveen</h6></b>
											</li>
										</ul>
										
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 700500</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding" id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6 class="h6-title-color" >Sreeharsha</h6></b>
											</li>
										</ul>
									
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 700501</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding" id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6 class="h6-title-color" >Ravi</h6></b>
											</li>
										</ul>
									
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 704405</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding" id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
										 <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								</div>
							</div>
						</div>
					</div>
        </div>
        <p style="text-align: right;margin-right: 2%;font-size: 15px;margin-top: 10px;margin-bottom:10px;"><a >see more...</a></p>
      </div>
      <div class="container-fluid breadcrumb-container">
          <ol class="breadcrumb" style="text-align: left">
              <h5 >Recent Activities</h5>
          </ol>
    </div>
    <div class="shell">
				<!-- search box -->
				<div class="range range-10">
					<div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 h-pages-next">
						<nav></nav>
					</div>
				</div>
				<div class="range range-70">
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
                        <b>
											
                        <h6 class="h6-title-color" >Sreeharsha</h6>
                        </b>
											</li>
										</ul>
									
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 700411</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding" id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6 class="h6-title-color" >Harish</h6></b>
											</li>
										</ul>
									
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 700400</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding" id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6 class="h6-title-color" >Ravi</h6></b>
											</li>
										</ul>
									
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 700422</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding" id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate">
						<div class="h-height bg-color h-div-border link-image">
							<div class="t-padding">
								<div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
									<div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
										<ul class="text-center">
											<li>
												<b>
												<h6 class="h6-title-color">Naveen</h6></b>
											</li>
										
										</ul>
										
										<ul>
											<li>
												<h6 class="h6-title">Layout Type : allEqual</h6>
											</li>
										</ul>
										<ul>
											<li> <h6 class="h6-title ">Call ID: 500400</h6> </li>
										   </ul>
										<ul>
											<li>
												<h6 class="h6-title">Members : 5</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                
								<div class="thumb-corporate__overlay text-center h-i-m-top h-a-padding " id="icon-list">
									<ul class="list-inline-sm  ">
										<li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
										 <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
										 </ul>
								</div>
							</div>
						</div>
					</div>
        </div>
      </div>
      
     
    </section>


  
  </div>
 
<%include footer %>
	<script src="/node_modules/jquery/dist/jquery.min.js">
	</script> 
	<script src="/scripts/core.min.js">
	</script> 
	<script src="/scripts/script.js">
	</script> 
	<script src="/scripts/jquery.contenthover.min.js">
	</script> 
	<script src="/scripts/general.js">
	</script> 
	<script src="/scripts/spacelist.js">
	</script> 
	<script>
	       $(document).ready(function(){
	           $("#activityList").addClass("active");
	       });
	</script>
</body>
</html>