<hr>
<footer class="footer-corporate bg-light-grey">
        <div class="shell">
            <p class="rights"><span>Inflexion Technology Solutions</span><span>&nbsp;&copy;&nbsp;</span><span id="copyright-year"></span></p>
          </div>
        </div>
</footer>