<footer class="footer-corporate bg-secondary-1">
        <div class="shell text-center">
            <a href="http://www.inflexiontech.com" class="rights"><span>Inflexion Technology Solutions</span><span>&copy;&nbsp;</span><span id="copyright-year"></span><span>.&nbsp;All rights reserved.</span></a>
          </div>
        </div>
</footer>