<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>CMS Hub Login</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page -->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- Forms-->
      <section class="section-lg bg-white text-center">
        <div class="shell">
		<h4>Login</h4>
          <div class="range range-md-center">
            <div class="cell-md-10 cell-lg-8">
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform_style-1 text-center" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap_icon linear-icon-man">
                  <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-name">User name</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-key-hole">
                  <input class="form-input" id="contact-email" type="password" name="email" data-constraints="@Required">
                  <label class="form-label" for="contact-email">Password</label>
                </div>
                <button id="loginBtn" class="button button-primary" type="submit">Login</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Forms-->

    </div>
    <!-- Javascript-->
    <script src="scripts/core.min.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/general.js"></script>
  </body>
</html>