<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>CMS Hub Meeting</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link href="/images/logo.png" rel="icon" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.1/css/jasny-bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">
    <link rel="stylesheet" href="/styles/oldmeeting.css">
    <link rel="stylesheet" href="/styles/meeting.css">
    <link rel="stylesheet" href="/styles/spaces.css">


   </head>
   <body class=" bg-white">
      <!-- BEGIN Hub Meeting -->
      <% include navbarhome %>
          <div class="page">
            <!-- BEGIN page loader -->
            <div id="page-loader">
              <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
              </div>
            </div>
            <!-- End page loader -->
  
        <!-- BEGIN Spaces toolbar-->
        <div class="container-fluid breadcrumb-container">
          <ol class="breadcrumb">
            <h5 class="meeting-head-bread">Meeting</h5>
            <li><a href="/dashboard" class="breadcrumb-links">Dashboard</a></li>
            <li>Meeting</li>
          </ol>
        </div>
          <!-- END Spaces toolbar-->
  
        <section>
          <!-- BEGIN Spaces pagination head -->
          <div class="shell">
            <!-- BEGIN Spaces search head -->
            <div class="range range-5 h-m-top-none " >
             
              <div class="searchBtn-pagination-container ">
                <div class="form-wrap form-wrap_icon linear-icon-magnifier head-search-w-h">
                  <input class="form-input search-input " type="text" name="search" placeholder="Enter the Meetingname">
                <!-- </div> -->
                </div>
                <nav class="head-top-pagination">
                  <ul class="pagination-classic">
                    <li class="active pagination-next"><span class="pagination-text-color">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                  </ul>
                </nav> 
              </div> 
            </div>
  
            
            <!-- END Spaces search head -->
  
            <!-- BEGIN Spaces pagination  body-->
                 <div class="row range range-70 " >
                 
                   <!-- BEGIN Spaces animate zoom Grid 1 -->
                   <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                      <div class="principale ">
                          <div class="parent-div bg-color h-div-border link-image ">
                            
                               <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                                 <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                   <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Harish</h6></b> </li></ul>
                                   <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                                   <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Sreeharsha@inflexion.com</h6></b></li></ul>
                                   <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                                   <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                                  </div>
                                 <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                                   <ul>
                                      <li>
                                        <samp>
                                          <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                         </samp>
                                      </li>
                                  
                                  </ul>
                                </div>
                              </div>
  
                              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                                  <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                    <ul class="list-inline-sm  ">
                                      <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                      <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                      <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                      <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                    </ul>
                                  </div>
                                </div>
                            
                              <div class=" child-hidden ">
                                <div class=" scroll-icon members-padding ">
                                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                    <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                      <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                      <ul class="list-inline-sm icon-right ">
                                        <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                        <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                        <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                      </ul>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    <!-- END Spaces animate zoom Grid 1 --->
  
                    <!-- BEGIN Spaces animate zoom Grid 2 -->
  
                    <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">

                      <div class="principale ">
                        <div class="parent-div bg-color h-div-border link-image ">
                          
                             <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                               <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                 <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Sreeharsha</h6></b> </li></ul>
                                 <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                                 <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Sreeharsha@inflexion.com</h6></b></li></ul>
                                 <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                                 <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                                </div>
                               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                                 <ul>
                                    <li>
                                      <samp>
                                        <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                       </samp>
                                    </li>
                                
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                  <ul class="list-inline-sm  ">
                                    <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                    <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                    <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                    <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                  </ul>
                                </div>
                              </div>
                          
                            <div class=" child-hidden ">
                              <div class=" scroll-icon members-padding ">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                  <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                    <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                  </div>
                                  <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                    <ul class="list-inline-sm icon-right ">
                                      <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                      <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                      <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                    </ul>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                
                  <!-- END Spaces animate zoom Grid 2 --->
                  
                  <!-- BEGIN Spaces animate zoom Grid 3 -->
  
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                    <div class="principale ">
                      <div class="parent-div bg-color h-div-border link-image ">
                        
                           <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                             <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                               <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Ravi</h6></b> </li></ul>
                               <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                               <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Ravi@inflexion.com</h6></b></li></ul>
                               <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                               <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                              </div>
                             <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                               <ul>
                                  <li>
                                    <samp>
                                      <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                     </samp>
                                  </li>
                              
                              </ul>
                            </div>
                          </div>

                          <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                              <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                <ul class="list-inline-sm  ">
                                  <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                  <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                  <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                  <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                </ul>
                              </div>
                            </div>
                        
                          <div class=" child-hidden ">
                            <div class=" scroll-icon members-padding ">
                              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                  <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                </div>
                                <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                  <ul class="list-inline-sm icon-right ">
                                    <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                    <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                    <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                  </ul>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                 
                   <!-- END Spaces animate zoom Grid 3 -->
  
                    <!-- BEGIN Spaces animate zoom Grid 4 -->
  
                    <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                      <div class="principale ">
                        <div class="parent-div bg-color h-div-border link-image ">
                          
                             <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                               <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                 <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Sanjay</h6></b> </li></ul>
                                 <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                                 <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Sanjay@inflexion.com</h6></b></li></ul>
                                 <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                                 <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                                </div>
                               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                                 <ul>
                                    <li>
                                      <samp>
                                        <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                       </samp>
                                    </li>
                                
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                  <ul class="list-inline-sm  ">
                                    <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                    <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                    <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                    <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                  </ul>
                                </div>
                              </div>
                          
                            <div class=" child-hidden ">
                              <div class=" scroll-icon members-padding ">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                  <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                    <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                  </div>
                                  <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                    <ul class="list-inline-sm icon-right ">
                                      <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                      <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                      <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                    </ul>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                 
                    <!-- END Spaces animate zoom Grid 4 -->
                        
  
  
  <!-- BEGIN Spaces Grid 2 body -->
  
  
                    <!-- BEGIN Spaces animate zoom Grid 1 -->
  
                    <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">

                      <div class="principale ">
                        <div class="parent-div bg-color h-div-border link-image ">
                          
                             <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                               <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                 <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Naveen</h6></b> </li></ul>
                                 <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                                 <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Naveen@inflexion.com</h6></b></li></ul>
                                 <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                                 <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                                </div>
                               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                                 <ul>
                                    <li>
                                      <samp>
                                        <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                       </samp>
                                    </li>
                                
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                  <ul class="list-inline-sm  ">
                                    <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                    <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                    <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                    <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                  </ul>
                                </div>
                              </div>
                          
                            <div class=" child-hidden ">
                              <div class=" scroll-icon members-padding ">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                  <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                    <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                  </div>
                                  <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                    <ul class="list-inline-sm icon-right ">
                                      <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                      <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                      <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                    </ul>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  
                      <!-- END Spaces animate zoom Grid 1 --->
  
                      <!-- BEGIN Spaces animate zoom Grid 2 -->
  
                      <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">

                        <div class="principale ">
                          <div class="parent-div bg-color h-div-border link-image ">
                            
                               <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                                 <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                   <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Rajesh</h6></b> </li></ul>
                                   <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                                   <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Rajesh@inflexion.com</h6></b></li></ul>
                                   <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                                   <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                                  </div>
                                 <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                                   <ul>
                                      <li>
                                        <samp>
                                          <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                         </samp>
                                      </li>
                                  
                                  </ul>
                                </div>
                              </div>
  
                              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                                  <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                    <ul class="list-inline-sm  ">
                                      <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                      <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                      <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                      <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                    </ul>
                                  </div>
                                </div>
                            
                              <div class=" child-hidden ">
                                <div class=" scroll-icon members-padding ">
                                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                    <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                      <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                      <ul class="list-inline-sm icon-right ">
                                        <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                        <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                        <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                      </ul>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                     
                    <!-- END Spaces animate zoom Grid 2 --->
  
                    <!-- BEGIN Spaces animate zoom Grid 3 -->
  
                    <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">

                      <div class="principale ">
                        <div class="parent-div bg-color h-div-border link-image ">
                          
                             <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                               <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                 <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Prakash</h6></b> </li></ul>
                                 <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                                 <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Prakash@inflexion.com</h6></b></li></ul>
                                 <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                                 <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                                </div>
                               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                                 <ul>
                                    <li>
                                      <samp>
                                        <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                       </samp>
                                    </li>
                                
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                  <ul class="list-inline-sm  ">
                                    <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                    <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                    <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                    <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                  </ul>
                                </div>
                              </div>
                          
                            <div class=" child-hidden ">
                              <div class=" scroll-icon members-padding ">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                  <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                    <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                  </div>
                                  <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                    <ul class="list-inline-sm icon-right ">
                                      <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                      <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                      <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                    </ul>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                     <!-- END Spaces animate zoom Grid 3 -->
  
                    <!-- BEGIN Spaces animate zoom Grid 4 -->
  
                    <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">

                      <div class="principale ">
                        <div class="parent-div bg-color h-div-border link-image ">
                          
                             <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 parent-close ">
                               <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                 <ul class="text-center" ><li>  <b><h6 class="h6-title-color h6-title-medium">Ramesh</h6></b> </li></ul>
                                 <ul><li> <h6 class="h6-title ">Tenant : ITS</h6></li></ul>
                                 <ul ><li> <b><h6 class=" h6-title-color-owner">Owner: Ramesh@inflexion.com</h6></b></li></ul>
                                 <ul><li> <h6 class="h6-title ">Call ID: 700102</h6> </li></ul>
                                 <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                                </div>
                               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                                 <ul>
                                    <li>
                                      <samp>
                                        <a class="h-r-star btn-close  icon-cursor h-icon-star-color  icon-sm linear-icon-cross" data-toggle="tooltip" data-placement="top" title="Close"  ></a>
                                       </samp>
                                    </li>
                                
                                </ul>
                              </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  icons-parents">
                                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                  <ul class="list-inline-sm  ">
                                    <li><p class="btn  icon-info  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm "  data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                    <li><p class="btn  icon-edit  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i> </p></li>
                                    <li><p class="btn  icon-invite  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm  "  data-toggle="tooltip" data-placement="top" title="Invite" href="#Settings"><i class="linear-icon-envelope"></i> </p></li>
                                    <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                  </ul>
                                </div>
                              </div>
                          
                            <div class=" child-hidden ">
                              <div class=" scroll-icon members-padding ">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12   h-div-border members-margin-t">
                                  <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-6 ">
                                    <ul><li><b><h6 class="h6-title-color text-margin-top">Harish.inflexiontech@gmail.com</h6></b> </li></ul>
                                  </div>
                                  <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-6 ">
                                    <ul class="list-inline-sm icon-right ">
                                      <li class="members-padding-icon"><p class="btn  btn-warning1 btn-space-circle-icon btn-space-circle thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                      <li class="members-padding-icon" ><p class="btn btn-warning1 btn-space-circle-icon btn-space-circle  thumb-corporate__list h-iconls-color  icon-sm members-padding-icon" data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                      <li class="members-padding-icon"><p class="btn  btn-space-circle-icon btn-space-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  members-padding-icon"     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  
                    <!-- END Spaces animate zoom Grid 4 -->
  
                 </div>
  
                 <!-- BEGIN Spaces pagination  body-->
  
  
                
                            
   
  
  
          
      
   <!-- BEGIN Spaces pagination footer -->
   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none   ">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 h-m-top-none "></div>
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none  h-navber-padding">
     
            <nav>
                <ul class="pagination-classic  h-m-top-none">
                  <li class="active pagination-next"><span class="pagination-text-color">1</span></li>
                  <li><a >2</a></li>
                  <li><a >3</a></li>
                  <li><a >4</a></li>
                  <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                </ul>
              </nav>
      </div>
    </div>
     <!-- END Spaces pagination footer -->
    
     <a id="ceateSpace"  href="/newMeeting" data-toggle="tooltip" data-placement="bottom" title="" class="button button-primary icon linear-icon-plus newmeeting-btn-circle" data-original-title="Create Meeting"></a>
   
    </div>
  </div>
  </section>
  <%include footer %>
  
          <!-- BEGIN Template script file links -->
          <script src="/node_modules/jquery/dist/jquery.min.js"></script>
          <script src="/scripts/core.min.js"></script>
          <script src="/scripts/script.js"></script>
          <script src="/scripts/jquery.contenthover.min.js"></script>
          <script src="/scripts/general.js"></script>
          <script src="/scripts/spacelist.js"></script>
  
         <!--  BEGIN Template script file links src -->
  
  
        <!-- BEGIN Spaces script -->
          <script src="/scripts/zoomindiv.js"></script>
  
          <script>
          $(document).ready(function(){
            $("#meetingList").addClass("active");
          });
          </script>
          <!-- End Spaces script -->
  
          <!-- END Zoom Div -->
        </body>
</html>
