<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/meeting.css">

  </head>
  <body>
    <!-- Page -->
    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <div class="newbtn-search-group">
        <button id = "meetingBtn" class="button button-primary button-block new-meet-btn" type="button"><%= translation.NEW_MEETING_BUTTON %></button>&ensp;
        <div class="form-wrap form-wrap_icon linear-icon-magnifier search-btn">
          <input class="form-input" type="text" name="search" placeholder="Search">
        </div>
      </div>  
      <section class="section-sm bg-gray-lighter main-section">
        <div class="shell">
          <!-- Accordion-->
          <div id="accordion" role="tablist">
            <!-- Bootstrap panel-->
            <div class="panel panel-custom">
              <div class="panel-custom-heading" id="1Headingundefined" role="tab">
                <h6 class="panel-custom-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#1" href="#1Collapseundefined" aria-controls="1Collapseundefined">Mr.ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                </h6>
              </div>
              <div class="panel-custom-collapse collapse" id="1Collapseundefined" role="tabpanel" aria-labelledby="1Headingundefined">
                <div class="panel-custom-body">
                  <ul class="list-group">
                    <li>Cospace: ABC</li>
                    <li>Owner: Sreeharsha inflexion.com</li>
                    <li>Operator:</li>
                    <li>Invitees: 3</li>
                  </ul>  
                  <ul class="list-group"> 
                    <li>Call reference #: 20170907/0001</li>
                    <li>Call URI: abc</li>
                    <li>Call ID: 700102</li>
                  </ul>
                  <a href="#">Edit</a>
               </div>
              </div>
            </div>
            <!-- Bootstrap panel-->
            <div class="panel panel-custom">
              <div class="panel-custom-heading" id="2Headingundefined" role="tab">
                <h6 class="panel-custom-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#2" href="#2Collapseundefined" aria-controls="2Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                </h6>
              </div>
              <div class="panel-custom-collapse collapse" id="2Collapseundefined" role="tabpanel" aria-labelledby="2Headingundefined">
                <div class="panel-custom-body">
                    <ul class="list-group">
                        <li>Cospace: ABC</li>
                        <li>Owner: Sreeharsha inflexion.com</li>
                        <li>Operator:</li>
                        <li>Invitees: 3</li>
                    </ul>
                    <ul class="list-group">
                        <li>Call reference #: 20170907/0001</li>
                        <li>Call URI: abc</li>
                        <li>Call ID: 700102</li>
                    </ul>
                      <a href="#">Edit</a>
                </div>
              </div>
            </div>
            <!-- Bootstrap panel-->
            <div class="panel panel-custom">
              <div class="panel-custom-heading" id="3Headingundefined" role="tab">
                <h6 class="panel-custom-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#3" href="#3Collapseundefined" aria-controls="3Collapseundefined">Mr. ABC &emsp; ITS &emsp; 9/7/17 4:00PM</a>
                </h6>
              </div>
              <div class="panel-custom-collapse collapse" id="3Collapseundefined" role="tabpanel" aria-labelledby="3Headingundefined">
                <div class="panel-custom-body">
                    <ul class="list-group">
                        <li>Cospace: ABC</li>
                        <li>Owner: Sreeharsha inflexion.com</li>
                        <li>Operator:</li>
                        <li>Invitees: 3</li>
                    </ul>
                      <ul class="list-group">
                        <li>Call reference #: 20170907/0001</li>
                        <li>Call URI: abc</li>
                        <li>Call ID: 700102</li>
                    </ul>
                      <a href="#">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <nav class="pagination-nav">
          <ul class="pagination-classic">
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
          </ul>
      </nav>
    </div>
    <% include footer %>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/general.js"></script>
  </body>
</html>