      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="69px" data-lg-stick-up-offset="1px" data-body-class="rd-navbar-default-linked">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" ><img src="/images/logo.png" alt="" width="174" height="32"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap toggle-original-elements" >
                  <div class="rd-navbar-nav-wrap__element"></div>
                  <ul class="rd-navbar-nav">
                    <li class=" rd-navbar--has-dropdown rd-navbar-submenu " ><a id="meetinglist">Meeting</a>
                      <ul class="rd-navbar-dropdown rd-navbar-open-right">
                        
                        <li><a href="#Create Meeting">Create Meeting</a>
                          <!-- <li><a href="#Meeting List">Meeting List</a> -->
                        </li>
                        </ul>
                    </li>
                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a id="activitylist">Activity</a>
                  
                    </li>     
                    
                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a id="sapacelist" >Space</a>
                      <ul class="rd-navbar-dropdown rd-navbar-open-right">
                        
                         <li><a href="#Create Space">Create Space</a>
                        
                        </ul>
                    </li>
                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a id="users">Users</a>
                   
                    </li>    
                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#Settings">Settings</a>
                      <ul class="rd-navbar-dropdown rd-navbar-open-right">
                        
                         <li><a href="#User Profile">User Profile</a>
                         <li><a href="#Change Password">Change Password</a>
                          <li><a href="#Licence">Licence</a>
                        </li>
                        </ul>
                    </li>    
                  </ul>
                </div>
              <!-- <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav" id="nav-bar">
                  <li class="active"><a href="home.html">DashBoard</a></li>
                  <li><a href="/meeting">Meeting</a></li>
                  <li><a href="home.html">Spaces</a></li>
                  <li><a href="home.html">Users</a></li>
                  <li><a href="home.html">Settings</a></li>
                  
                </ul>
              </div> -->
			  <!--<div class="rd-navbar-panel">
				<h3>CMS Meeting Hub</h3>
			  </div>-->
            </div>
          </nav>
        </div>
      </header>