<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
    <!-- Site Title-->
    <title>CMS Hub Create Meeting</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">

</head>
<!-- onhovermeeting Page Begin -->

<body>
    <!-- Page Header -->
    <% include navbarhome %>
        <!-- Page Begin-->
        <div class="page">
            <div id="page-loader">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
            <!-- Breadcrumb Navbar Begin-->
            <div class="container-fluid breadcrumb-container">
                <ol class="breadcrumb">
                    <h5 class="newmeeting-head-bread">
                        <%= translation.SCHEDULE_MEETING_HEADER %>
                    </h5>
                    <li><a href="/dashboard" class="breadcrumb-links">Dashboard</a></li>
                    <li><a href="/meeting" class="breadcrumb-links">Meeting</a></li>
                    <li>New Meeting</li>
                </ol>
            </div>
            <!-- Breadcrumb Navbar End-->
            <!-- Meeting table view Begin -->
            <section class="section-lg bg-white card-section">
                <div class="shell">
                    <div class="range range-center grandparent">                            
                        <div class="cell-lg-3 cell-md-5 cell-sm-5 cell-xs-12">
                            <div class="well style_prevu_kit parentCell">
                                <div class="contents">
                                    <p>Owner: Sreeharsha@infelxion.com</p>
                                    <p>Tenant: ITS</p>
                                    <p>CallID: 123456</p>
                                </div>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="close" class="fa fa-lg fa-times-circle closeBtn" aria-hidden="true"></a>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="info" class="fa fa-lg fa fa-info-circle infoBtn" aria-hidden="true"></a>
                                <div class="contents child2">
                                    <p>Call reference #: 20170907/0001</p>
                                    <p>Call URI: Sreeharsha.inflexion.com</p>
                                    <p>Call ID: 700102</p>
                                </div>
                            </div>
                        </div>
                         
                        <div class="cell-lg-3 cell-md-5 cell-sm-5 cell-xs-12">
                            <div class="well style_prevu_kit parentCell">
                                <div class="contents">
                                    <p>Owner: Sreeharsha@infelxion.com</p>
                                    <p>Tenant: ITS</p>
                                    <p>CallID: 123456</p>
                                </div>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="close" class="fa fa-lg fa-times-circle closeBtn" aria-hidden="true"></a>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="info" class="fa fa-lg fa fa-info-circle infoBtn" aria-hidden="true"></a>
                                <div class="contents child2">
                                    <p>Call reference #: 20170907/0001</p>
                                    <p>Call URI: Sreeharsha.inflexion.com</p>
                                    <p>Call ID: 700102</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="cell-lg-3 cell-md-5 cell-sm-5 cell-xs-12">
                            <div class="well style_prevu_kit parentCell">
                                <div class="contents">
                                    <p>Owner: Sreeharsha@infelxion.com</p>
                                    <p>Tenant: ITS</p>
                                    <p>CallID: 123456</p>
                                </div>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="close" class="fa fa-lg fa-times-circle closeBtn" aria-hidden="true"></a>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="info" class="fa fa-lg fa fa-info-circle infoBtn" aria-hidden="true"></a>
                                <div class="contents child2">
                                    <p>Call reference #: 20170907/0001</p>
                                    <p>Call URI: Sreeharsha.inflexion.com</p>
                                    <p>Call ID: 700102</p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="cell-lg-3 cell-md-5 cell-sm-5 cell-xs-12">
                            <div class="well style_prevu_kit parentCell">
                                <div class="contents">
                                    <p>Owner: Sreeharsha@infelxion.com</p>
                                    <p>Tenant: ITS</p>
                                    <p>CallID: 123456</p>
                                </div>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="close" class="fa fa-lg fa-times-circle closeBtn" aria-hidden="true"></a>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="info" class="fa fa-lg fa fa-info-circle infoBtn" aria-hidden="true"></a>
                                <div class="contents child2">
                                    <p>Call reference #: 20170907/0001</p>
                                    <p>Call URI: Sreeharsha.inflexion.com</p>
                                    <p>Call ID: 700102</p>
                                </div>
                            </div>
                        </div>
                         
                        <div class="cell-lg-3 cell-md-5 cell-sm-5 cell-xs-12">
                            <div class="well style_prevu_kit parentCell">
                                <div class="contents">
                                    <p>Owner: Sreeharsha@infelxion.com</p>
                                    <p>Tenant: ITS</p>
                                    <p>CallID: 123456</p>
                                </div>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="close" class="fa fa-lg fa-times-circle closeBtn" aria-hidden="true"></a>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="info" class="fa fa-lg fa fa-info-circle infoBtn" aria-hidden="true"></a>
                                <div class="contents child2">
                                    <p>Call reference #: 20170907/0001</p>
                                    <p>Call URI: Sreeharsha.inflexion.com</p>
                                    <p>Call ID: 700102</p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="cell-lg-3 cell-md-5 cell-sm-5 cell-xs-12">
                            <div class="well style_prevu_kit parentCell">
                                <div class="contents">
                                    <p>Owner: Sreeharsha@infelxion.com</p>
                                    <p>Tenant: ITS</p>
                                    <p>CallID: 123456</p>
                                </div>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="close" class="fa fa-lg fa-times-circle closeBtn" aria-hidden="true"></a>
                                <a hef="#" data-toggle="tooltip" data-placement="top" title="info" class="fa fa-lg fa fa-info-circle infoBtn" aria-hidden="true"></a>
                                <div class="contents child2">
                                    <p>Call reference #: 20170907/0001</p>
                                    <p>Call URI: Sreeharsha.inflexion.com</p>
                                    <p>Call ID: 700102</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Meeting table view End -->
        </div>
        <!-- Page End-->
        <!-- Page Footer -->
        <% include footer %>
            <script src="/node_modules/jquery/dist/jquery.min.js"></script>
            <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/scripts/core.min.js"></script>
            <script src="/scripts/script.js"></script>
            <script>
                var origWidth;
                $(document).ready(function(){
                    origWidth = $(window).width(); //store the window's width when the document loads
                    console.log("Orignial Width: ", origWidth);
                    console.log("Grandparent width: ", $('.grandparent').outerWidth());
                $(window).resize(function(){
                    var curWidth = $(window).width();
                    var delta = origWidth - curWidth;
                    console.log("Current Width: ",curWidth);
                    console.log("Grandparent width: ", $('.grandparent').outerWidth());
                });
                $('[data-toggle="tooltip"]').tooltip();
                // Old method -begin
                $(window).load(function () {
                    var hoverEle = null, isHovered = false;
                    $('.child2').hide();
                    $('.closeBtn').hide();

                    $('.infoBtn').click(function() {
                        if(!isHovered){
                            $(this).siblings('.child2').show();
                            $(this).siblings('.closeBtn').show();
                            $(this).hide();
                            var parentCellWidth = $(this).parent().outerWidth();
                            console.log("Parent Cell width: ", parentCellWidth);
                            $(this).parent().animate().css({'box-shadow': '5px 5px 5px lightgray', 'transition': 'all 200ms ease-in','transform': 'scale(1)'});
                            $(this).parent().css({'opacaity': 0.5, 'top': -13, 'left': -13, 'zIndex': 100});
                            hoverEle = $(this).parent('.parentCell');
                            isHovered = true;
                        }
                    });

                    $('.closeBtn').click(function () {
                        console.log('HoverEle width: ', hoverEle.outerWidth());
                        if (hoverEle != null) {
                            $(hoverEle).find('.child2').hide();
                            $(hoverEle).animate().css({'box-shadow': 'none', 'transition': 'all 200ms ease-in','transform': 'scale(1)'});
                            $(hoverEle).css({'opacaity': 1, 'top': 0, 'left': 0, 'zIndex': 0});
                            hoverEle = null;
                            isHovered = false;
                            $('.parentCell').find('.closeBtn').hide();
                            $('.parentCell').find('.infoBtn').show();
                        }
                    });
                });
                // Old method -end
            });    
            </script>
</body>
<!-- onhovermeeting page start -->

</html>