<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
    <!-- Site Title-->
    <title>CMS Hub Create Meeting</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">

</head>
<!-- onhovermeeting Page Begin -->

<body>
    <!-- Page Header -->
    <% include navbarhome %>
        <!-- Page Begin-->
        <div class="page">
            <div id="page-loader">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
            <!-- Breadcrumb Navbar Begin-->
            <div class="container-fluid breadcrumb-container">
                <ol class="breadcrumb">
                    <h5 class="newmeeting-head-bread">
                        <%= translation.SCHEDULE_MEETING_HEADER %>
                    </h5>
                    <li><a href="/dashboard" class="breadcrumb-links">Dashboard</a></li>
                    <li><a href="/meeting" class="breadcrumb-links">Meeting</a></li>
                    <li>New Meeting</li>
                </ol>
            </div>
            <!-- Breadcrumb Navbar End-->
            <!-- Meeting table view Begin -->
            <section class="section-lg bg-white card-section">
                <div class="shell">
                    <div class="range range-center">                            
                        
                    </div>
                </div>
            </section>

            <!-- Meeting table view End -->
        </div>
        <!-- Page End-->
        <!-- Page Footer -->
        <% include footer %>
            <script src="/node_modules/jquery/dist/jquery.min.js"></script>
            <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/scripts/core.min.js"></script>
            <script src="/scripts/script.js"></script>
            <script src="/scripts/http-helper.js"></script>
            <script src="/scripts/http-helper-test.js"></script>

</body>
<!-- onhovermeeting page start -->

</html>