<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">

  </head>
  <body style="background-color: #f8f8f8">
    <!-- Page -->
    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>

      <!-- <section class="section-md bg-gray-3 text-center">
          <div class="shell">
              <input class="form-input" id="event-search" type="text" name="phone" placeholder="Search"/>
          </div>


          <div>
              <div class="cell-lg-4 cell-md-4 cell-xs-12 cell-sm-6">
              <img src="images/home-02-301x503.jpg" alt="" width="301" height="503"/>
                  
              </div>
              <div class="cell-lg-4 cell-md-4 cell-xs-12 cell-sm-6 ">
                  <img src="images/home-02-301x503.jpg" alt="" width="301" height="503"/>
               
              </div>
              <div class="cell-lg-4 cell-md-4 cell-xs-12 cell-sm-6 ">
              <img src="images/home-02-301x503.jpg" alt="" width="301" height="503"/>
              </div>
          </div>
         

          <div class="rd-parallax bg-image rd-parallax-light rd-parallax-overlay" data-on="false" data-xl-on="true" style="background-image: url(images/bg-image-02-1920x896.jpg);"><div class="owl-item">
              <div class="team-box">
 
                <div>
                    <div class="cell-lg-4 cell-md-4 cell-xs-12 cell-sm-6">
                        <div class="team-box-image"> <img src="images/home-02-301x503.jpg" alt="" width="301" height="503"/>
                        </div>
                    </div>
                    <div class="cell-lg-4 cell-md-4 cell-xs-12 cell-sm-6 ">
                        <div class="team-box-image"> <img src="images/home-02-301x503.jpg" alt="" width="301" height="503"/>
                        </div>
                    </div>
                    <div class="cell-lg-4 cell-md-4 cell-xs-12 cell-sm-6 ">
                        <div class="team-box-image"> <img src="images/home-02-301x503.jpg" alt="" width="301" height="503"/>
                        </div>
                    </div>
                </div>
               
                
              
                
                <div class="team-box-content">
                  <div class="team-box-content-inner">
                    <div class="team-box-title">
                      <h4><a href="team-member-profile.html"> Sam Jones </a></h4>
                    </div>
                    <div class="team-box-cite"> <span>Senior partner</span></div>
                   
                    <p>As a principal advisor, Sam Jones guides business owners through the pitfalls and joys of the corporational world. </p>
                    <ul class="list-inline list-inline-lg">
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="team-box">
                <div class="team-box-image"><img src="images/home-03-301x503.jpg" alt="" width="301" height="503"/>
                </div>
                <div class="team-box-content">
                  <div class="team-box-content-inner">
                    <div class="team-box-title">
                      <h4><a href="team-member-profile.html"> Richard White</a></h4>
                    </div>
                    <div class="team-box-cite"><span>Partner</span></div>
                    <p>Richard White has operated several small business over the past ten years and brings a diverse</p>
                    <ul class="list-inline list-inline-lg">
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="team-box">
                <div class="team-box-image"><img src="images/home-04-301x503.jpg" alt="" width="301" height="503"/>
                </div>
                <div class="team-box-content">
                  <div class="team-box-content-inner">
                    <div class="team-box-title">
                      <h4><a href="team-member-profile.html"> Melissa Spector</a></h4>
                    </div>
                    <div class="team-box-cite"><span>Partner</span></div>
                    <p>Melissa Spector brings a strong background in leadership and management to the company team. She works</p>
                    <ul class="list-inline list-inline-lg">
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-google-plus" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </section>
  
    </div> -->
    
    <section class="section-lg  text-center">
        <div class="shell">
            <div class="range range-xs-center range-md-left range-30 range-sm-60">
              <!-- S --> 
              <div class="cell-xs-12 cell-sm-12 cell-md-12 cell-lg-12 ">
                    <div >
                        
                    </div>
                    
                </div>
                <div class="cell-xs-12 cell-sm-6 cell-md-4 cell-lg-4">
                    <div class="h-border ">
                      <div class="thumb thumb-corporate h-height ">
                         <div class="thumb-corporate__main h-height" id="test1">
                            <div class="t-padding">
                                
                                <h6 class="t-left">Sapace Name :</h6>
                                <h6 class="t-left">Sapace ID :</h6>
                                <h6 class="t-left">Members    :</h6>
                              </div>
    <!-- hide div -->
    
    <div class="thumb-corporate__overlay " >
      
       <ul class="list-inline-md thumb-corporate__list">

         <li><a class="icon icon-sm fa-phone-square" href="#call"></a></li>
         <li><a class="icon icon-sm fa-pencil-square-o" href="#Edit"></a></li>
         <li><a class="icon icon-sm fa-video-camera" href="#video"></a></li>
         <li><a class="icon icon-sm fa-trash" href="#trash"></a></li>
        </ul>
      </div>

       <!-- hide div end -->
      </div>
       <!-- <div class="thumb-corporate__caption">
                        <p class="thumb__title"><a href="team-member-profile.html">Brian King</a></p>
                        <p class="thumb__subtitle">Director</p>
                      </div> -->
                    </div>
                         
                        </div>
      
                       
                      
                  </div>

               
                  <div class="cell-xs-12 cell-sm-6 cell-md-4 cell-lg-4">
                  <div class="h-border ">
                        
               
                <div class="thumb thumb-corporate h-height ">
                   
                  <div class="thumb-corporate__main h-height">
                  <div class="t-padding">
                    
                    <h6 class="t-left">Sapace Name :</h6>
                    <h6 class="t-left">Sapace ID :</h6>
                    <h6 class="t-left">Members    :</h6>
                  </div>
                      <!-- hide div -->
                      <div class="thumb-corporate__overlay  ">
    
                        <ul class="list-inline-md thumb-corporate__list">
                          <li><a class="icon icon-sm fa-phone-square" href="#call"></a></li>
                          <li><a class="icon icon-sm fa-pencil-square-o" href="#Edit"></a></li>
                          <li><a class="icon icon-sm fa-video-camera" href="#video"></a></li>
                          <li><a class="icon icon-sm fa-trash" href="#trash"></a></li>
                        </ul>
                      </div>
                       <!-- hide div end -->
                    </div>
                    <!-- <div class="thumb-corporate__caption">
                      <p class="thumb__title"><a href="team-member-profile.html">Brian King</a></p>
                      <p class="thumb__subtitle">Director</p>
                    </div> -->
                  </div>
                       
                      </div>
    
                     
                    
                </div>
                

                <div class="cell-xs-12 cell-sm-6 cell-md-4 cell-lg-4">
                    <div class="h-border ">
                          
                  <!-- Thumb corporate-->
                  <div class="thumb thumb-corporate h-height ">
                     
                    <div class="thumb-corporate__main h-height">
                      
                        <div class="t-padding">
                            
                            <h6 class="t-left">Sapace Name :</h6>
                            <h6 class="t-left">Sapace ID :</h6>
                            <h6 class="t-left">Members    :</h6>
                          </div>
                
                        <!-- hide div --> 
                        <div class="thumb-corporate__overlay ">
      
                          <ul class="list-inline-md thumb-corporate__list">
                            <li><a class="icon icon-sm fa-phone-square" href="#call"></a></li>
                            <li><a class="icon icon-sm fa-pencil-square-o" href="#Edit"></a></li>
                            <li><a class="icon icon-sm fa-video-camera" href="#video"></a></li>
                            <li><a class="icon icon-sm fa-trash" href="#trash"></a></li>
                          </ul>
                        </div>
                         <!-- hide div end -->
                      </div>
                      <!-- <div class="thumb-corporate__caption">
                        <p class="thumb__title"><a href="team-member-profile.html">Brian King</a></p>
                        <p class="thumb__subtitle">Director</p>
                      </div> -->
                    </div>
                         
                        </div>    
                      
                  </div>
              </div>
      
        </div>
    </section>
      

      <h6>I</h6>
    
   
  
      <% include footer %>
   
     <script src="/node_modules/jquery/dist/jquery.min.js"></script>   
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>   
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.contenthover.min.js"></script>
    <script src="/scripts/general.js"></script>
  
  </body>
</html>