<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
    <!-- Site Title-->
    <title>CMS Hub Settings</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link href="/images/logo.png" rel="icon" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">
    <link rel="stylesheet" href="/styles/meeting.css">
</head>

<body class=" bg-white">
    <% include navbarhome %>
    <div class="page">
        <p>TODO Settings</p>
    </div>  
    <% include footer %>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.contenthover.min.js"></script>
    <script src="/scripts/general.js"></script>
    <script src="/scripts/spacelist.js"></script>
    <script>
        $(document).ready(function () {
            $("#settingsList").addClass("active");
        });
    </script>
</body>