<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>CMS Hub Configuation</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/style.css">
	<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Page -->
    <div class="page" id="smtp-page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <header class="page-header">
          <!-- RD Navbar-->
          <div class="rd-navbar-wrap" >
            <nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="69px" data-lg-stick-up-offset="1px" data-body-class="rd-navbar-default-linked">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <div class="rd-navbar-brand"><img class="h-logo-image"  src="/images/logo.png"></div>
                </div>
               <div class="rd-navbar-brand"><h4>Meeting hub Managers</h4></div>
               </div>
            </nav>
          </div>
        </header>
      <!-- Forms-->
      <section class="section-lg bg-white text-center configure-section-custom">
        <div class="shell">
         <h4>SMTP Setup</h4>
          <div class="range range-md-center">
            <div class="cell-md-10 cell-lg-8">
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform_style-1 text-center" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap_icon linear-icon-envelope">
                  <input class="form-input" id="serveraddress" type="text" name="serveraddress" data-constraints="@Required">
                  <label class="form-label" for="serveraddress">Server Address</label>
                </div>
				        <div class="form-wrap form-wrap_icon linear-icon-at-sign">
                  <input class="form-input" id="username" type="email" name="username" data-constraints="@Required">
                  <label class="form-label" for="username">Username</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-key-hole">
                  <input class="form-input" id="password" type="password" name="password" data-constraints="@Required">
                  <label class="form-label" for="password">Password</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-cable">
                    <input class="form-input" id="tlsport" type="text" name="tlsport" data-constraints="@Required">
                    <label class="form-label" for="tlsport">Port (TLS)</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-cable">
                    <input class="form-input" id="sslport" type="text" name="sslport" data-constraints="@Required">
                    <label class="form-label" for="sslport">Port (SSL)</label>
                </div> 
                <button id="smtpBtn" class="button button-primary" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <% include footer %>
    <!-- Javascript-->
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/general.js"></script>
  </body>
</html>
