<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>CMS Hub Spaces</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link href="/images/logo.png" rel="icon" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">
    <link rel="stylesheet" href="/styles/oldmeeting.css">
    <link rel="stylesheet" href="/styles/meeting.css">
    <link rel="stylesheet" href="/styles/spaces.css">


   </head>
    <body class=" bg-white">
    <!-- Page -->

    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <div class="container-fluid breadcrumb-container">
          <ol class="breadcrumb">
              <h5 class="meeting-head-bread">Spaces</h5>
              <li><a href="/dashboard" class="breadcrumb-links">Dashboard</a></li>
              <li>Spaces</li>
          </ol>
      </div>


      <section>
       <div class="shell">
        <!-- search box -->
            <div class="range range-5 h-m-top-none " >
             <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">

               <div class=" col-md-12 col-xs-12 col-lg-4 h-m-top-none "></div>
               <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none ">
                <input class="form-input bg-gray-lighter  h-search-h" type="text" name="search" placeholder="Search">
               </div>
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-pages-next  "><nav>
                </div>

               </div>
               <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">

                 <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 h-m-top-none "></div>
                 <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none  h-navber-padding ">
                  <nav >
                   <ul class="pagination-classic  h-m-top-none">
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                   </ul>
                  </nav>
                 </div></div>
                  <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 h-pages-next "><nav>
                  </div>
                 </div>
                 <div class="range range-70" >
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                   <div class="h-height  bg-white h-div-border  link-image ">
                    <div class="t-padding">
                     <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                   <ul class="text-center" >
                    <li>  <b><h6 class="h6-title-color">Harish</h6></b> </li>
                   </ul>
                   <ul >
                   <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                  </ul>
                    <!-- <ul >
                    <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                   </ul> -->
                   <ul>
                    <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                   </ul>
                   <ul>
                    <li> <h6 class="h6-title ">Call ID: 700102</h6> </li>
                   </ul>
                   <ul>
                    <li>   <h6 class="h6-title ">Members : 5</h6> </li>
                   </ul>

                  </div>
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                   <ul>
                    <li> <samp ><a class="h-r-star   icon-cursor h-icon-star-color  icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="Status"   href="#"></a>
                     <a class="h-r-star icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="right"  title="Not starred" href="#"></a>
                    </samp>
                   </li>
                  </ul>
                 </div>

                </div>
                     </div>
                       <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">




                 <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                   <ul class="list-inline-sm  ">
                    <li><p class="btn  h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                     <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                     <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                     <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                     </ul>

                 </div>
                </div>
                         </div>
                        </div>
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                   <div class="h-height  bg-white h-div-border  link-image ">
                    <div class="t-padding">
                        <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                          <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                           <ul class="text-center" >
                            <li>  <b><h6 class="h6-title-color" >Sreeharsha</h6></b> </li>
                           </ul>
                           <ul >
                           <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                          </ul>
                            <!-- <ul >
                            <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                           </ul> -->
                           <ul>
                            <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                           </ul>
                           <ul>
                            <li> <h6 class="h6-title ">Call ID: 700400</h6> </li>
                           </ul>
                           <ul>
                            <li>   <h6 class="h6-title ">Members : 2</h6> </li>
                           </ul>

                          </div>
                          <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                           <ul>
                            <li> <samp ><a class="h-r-star   icon-cursor h-icon-star-color  icon-sm fa-dot-circle-o" data-toggle="tooltip" data-placement="top" title="Status" href="#"></a>
                             <a class="h-r-star icon-cursor  h-icon-star-color icon-sm linear-icon-star" data-toggle="tooltip" data-placement="right" title="Not starred" href="#"></a>
                            </samp>
                           </li>
                          </ul>
                         </div>

                        </div>
                       </div>

                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                         <div id="icon-list" class=" thumb-corporate__overlay  thumb-corporate__overlay-gl text-center h-i-m-top  ">
                           <ul class="list-inline-sm  ">
                            <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                             <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                             <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                             <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                             </ul>

                         </div>
                        </div>
                       </div>
                      </div>
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                        <div class="h-height  bg-white h-div-border  link-image ">
                         <div class="t-padding">
                             <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                               <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                <ul class="text-center" >
                                 <li> <b><h6 class="h6-title-color" >Sanjay </h6></b> </li>
                                </ul>
                                <ul >
                                <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                               </ul>
                                 <!-- <ul >
                                 <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                </ul> -->
                                <ul>
                                 <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                                </ul>
                                <ul>
                                  <li> <h6 class="h6-title ">Call ID: 700301</h6> </li>
                                 </ul>
                                <ul>
                                 <li>   <h6 class="h6-title ">Members : 1</h6> </li>
                                </ul>

                               </div>
                               <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                <ul>
                                 <li> <samp ><a class="h-r-star   icon-cursor  h-icon-star-color icon-sm fa-dot-circle-o" data-toggle="tooltip" data-placement="top" title="Status" href="#"></a>
                                  <a class="h-r-star icon-cursor  h-icon-star-color icon-sm linear-icon-star" data-toggle="tooltip" data-placement="right" title="Not starred" href="#"></a>
                                 </samp>
                                </li>
                               </ul>
                              </div>

                             </div>
                            </div>

                             <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                              <div id="icon-list" class=" thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                <ul class="list-inline-sm  ">
                                 <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                  <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                  <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                  <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                  </ul>

                              </div>
                             </div>
                            </div>
                           </div>
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                             <div class="h-height  bg-white h-div-border  link-image ">
                              <div class="t-padding">
                                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                                    <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                     <ul class="text-center" >
                                      <li>  <b><h6 class="h6-title-color">Naveen</h6></b> </li>
                                     </ul>
                                     <ul >
                                     <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                                    </ul>
                                      <!-- <ul >
                                      <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                     </ul> -->
                                     <ul>
                                      <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                                     </ul>
                                     <ul>
                                      <li> <h6 class="h6-title ">Call ID: 700105</h6> </li>
                                     </ul>
                                     <ul>
                                      <li>   <h6 class="h6-title ">Members : 10</h6> </li>
                                     </ul>

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                     <ul>
                                      <li> <samp ><a class="h-r-star   icon-cursor h-icon-star-color icon-sm fa-dot-circle-o" data-toggle="tooltip" data-placement="top" title="Status" href="#"></a>
                                       <a class="h-r-star icon-cursor  icon-sm h-icon-star-color linear-icon-star" data-toggle="tooltip" data-placement="bottom" title="Not starred" href="#"></a>
                                      </samp>
                                     </li>
                                    </ul>
                                   </div>

                                  </div>
                                 </div>

                                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                   <div id="icon-list " class=" thumb-corporate__overlay thumb-corporate__overlay-gl text-center h-i-m-top  ">
                                     <ul class="list-inline-sm  ">
                                      <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                       <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                       <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                       <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                       </ul>

                                   </div>
                                  </div>
                                 </div>
                                </div>
                       </div>






                       <div class="range range-70" >
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                         <div class="h-height  bg-white h-div-border  link-image ">
                          <div class="t-padding">
                           <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                        <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                         <ul class="text-center" >
                          <li>  <b><h6 class="h6-title-color">Harish</h6></b> </li>
                         </ul>
                         <ul >
                         <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                        </ul>
                          <!-- <ul >
                          <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                         </ul> -->
                         <ul>
                          <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                         </ul>
                         <ul>
                          <li> <h6 class="h6-title ">Call ID: 700112</h6> </li>
                         </ul>
                         <ul>
                          <li>   <h6 class="h6-title ">Members : 5</h6> </li>
                         </ul>

                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                         <ul>
                          <li> <samp ><a class="h-r-star   icon-cursor h-icon-star-color  icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="Status"   href="#"></a>
                           <a class="h-r-star icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="right"  title="Not starred" href="#"></a>
                          </samp>
                         </li>
                        </ul>
                       </div>

                      </div>
                           </div>
                             <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">




                       <div id="icon-list" class="thumb-corporate__overlay  thumb-corporate__overlay-gl text-center h-i-m-top ">
                         <ul class="list-inline-sm  ">
                          <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                           <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                           <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                           <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                           </ul>
                       </ul>
                       </div>
                      </div>
                               </div>
                              </div>
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                         <div class="h-height  bg-white h-div-border  link-image ">
                          <div class="t-padding">
                              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                                <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                 <ul class="text-center" >
                                  <li>  <b><h6 class="h6-title-color" >Sreeharsha</h6></b> </li>
                                 </ul>
                                 <ul >
                                 <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                                </ul>
                                  <!-- <ul >
                                  <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                 </ul> -->
                                 <ul>
                                  <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                                 </ul>
                                 <ul>
                                  <li> <h6 class="h6-title ">Call ID: 700400</h6> </li>
                                 </ul>
                                 <ul>
                                  <li>   <h6 class="h6-title ">Members : 2</h6> </li>
                                 </ul>

                                </div>
                                <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                 <ul>
                                  <li> <samp ><a class="h-r-star   icon-cursor h-icon-star-color  icon-sm fa-dot-circle-o" data-toggle="tooltip" data-placement="top" title="Status" href="#"></a>
                                   <a class="h-r-star icon-cursor  h-icon-star-color icon-sm linear-icon-star" data-toggle="tooltip" data-placement="right" title="Not starred" href="#"></a>
                                  </samp>
                                 </li>
                                </ul>
                               </div>

                              </div>
                             </div>

                         <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                               <div id="icon-list" class=" thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                 <ul class="list-inline-sm  ">
                                  <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                   <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                   <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                   <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                   </ul>
                               </ul>
                               </div>
                              </div>
                             </div>
                            </div>
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                              <div class="h-height  bg-white h-div-border  link-image ">
                               <div class="t-padding">
                                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                                     <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                      <ul class="text-center" >
                                       <li> <b><h6 class="h6-title-color" >Sanjay </h6></b> </li>
                                      </ul>
                                      <ul >
                                      <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                                     </ul>
                                       <!-- <ul >
                                       <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                      </ul> -->
                                      <ul>
                                       <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                                      </ul>
                                      <ul>
                                        <li> <h6 class="h6-title ">Call ID: 700133</h6> </li>
                                       </ul>
                                      <ul>
                                       <li>   <h6 class="h6-title ">Members : 1</h6> </li>
                                      </ul>

                                     </div>
                                     <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                      <ul>
                                       <li> <samp ><a class="h-r-star   icon-cursor  h-icon-star-color icon-sm fa-dot-circle-o" data-toggle="tooltip" data-placement="top" title="Status" href="#"></a>
                                        <a class="h-r-star icon-cursor  h-icon-star-color icon-sm linear-icon-star" data-toggle="tooltip" data-placement="right" title="Not starred" href="#"></a>
                                       </samp>
                                      </li>
                                     </ul>
                                    </div>

                                   </div>
                                  </div>

                                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                    <div id="icon-list" class=" thumb-corporate__overlay  thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                      <ul class="list-inline-sm  ">
                                       <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                        <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                        <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                        <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                        </ul>
                                    </ul>
                                    </div>
                                   </div>
                                  </div>
                                 </div>
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                                   <div class="h-height  bg-white h-div-border  link-image ">
                                    <div class="t-padding">
                                        <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                                          <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                           <ul class="text-center" >
                                            <li><h6 class="h6-title-color">Naveen</h6> </li>
                                           </ul>
                                           <ul >
                                           <li> <b><h6 class="h6-title">Owner:</h6></b>    </li>
                                          </ul>
                                            <!-- <ul >
                                            <li>   <img class="sl-img-h-w-Layout" src="/images/speakerlarge.png" > </li>
                                           </ul> -->
                                           <ul>
                                            <li> <h6 class="h6-title ">Layout Type : allEqual</h6> </li>
                                           </ul>
                                           <ul>
                                            <li> <h6 class="h6-title ">Call ID: 700199</h6> </li>
                                           </ul>
                                           <ul>
                                            <li>   <h6 class="h6-title ">Members : 10</h6> </li>
                                           </ul>

                                          </div>
                                          <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                           <ul>
                                            <li> <samp ><a class="h-r-star   icon-cursor h-icon-star-color icon-sm fa-dot-circle-o" data-toggle="tooltip" data-placement="top" title="Status" href="#"></a>
                                             <a class="h-r-star icon-cursor  icon-sm h-icon-star-color linear-icon-star" data-toggle="tooltip"  data-placement="bottom" title="Not starred" href="#"></a>
                                            </samp>
                                           </li>
                                          </ul>
                                         </div>

                                        </div>
                                       </div>

                                        <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                         <div id="icon-list" class="thumb-corporate__overlay  thumb-corporate__overlay-gl text-center  h-i-m-top ">
                                           <ul class="list-inline-sm  ">
                                            <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Info" href="#Settings"><i class="linear-icon-reading"></i></p></li>
                                             <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Mute" href="#Settings"><i class="linear-icon-mic"></i> </p></li>
                                             <li><p class="btn btn-warning1 btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Hide" href="#Settings"><i class="linear-icon-camera"></i></p></li>
                                             <li><p class="btn btn-circle  h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-sm  "     data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings"><i class="linear-icon-trash2"></i> </p></li>
                                             </ul>
                                         </ul>
                                         </div>
                                        </div>
                                       </div>
                                      </div>
                             </div>












           <a id="ceateSpace" href="/createspace"data-toggle="tooltip" data-placement="bottom" title="CreateSpace" class="button button-primary icon linear-icon-plus newmeeting-btn-circle"></a>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">

              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 h-m-top-none "></div>
              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none  h-navber-padding">
               <nav>
                <ul class="pagination-classic  h-m-top-none">
                 <li class="active"><span>1</span></li>
                 <li><a href="#">2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">4</a></li>
                 <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                </ul>
               </nav>
              </div></div>

           </div>
        </div>




       </section>


     <%include footer %>








    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.contenthover.min.js"></script>
    <script src="/scripts/general.js"></script>
    <script src="/scripts/spacelist.js"></script>

    <script>
        $(document).ready(function(){
            $("#spacesList").addClass("active");


        });
    </script>
  </body>
</html>
