<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">

  </head>
  <body style="background-color: #f8f8f8">
    <!-- Page -->
    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>

      <section class="section-lg bg-gray-lighter">
       <div class="shell">
        <div class="cell-sm-12 cell-md-12 cell-xs-12 cell-lg-12">
         <input class="form-input bg-white" id="event-search" type="text"  placeholder="Search">
        </div>
         <div class="range range-70" >
             <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 h-div-padding">
              <div class="h-height bg-white link-image ">
               <h6 class="h6-title h-t-align">Space Name : Harish</h6>
               <h6 class="h6-title h-t-align">Space ID: Harish.locat</h6>
               <h6 class="h6-title h-t-align">Meeting Numbers:Sreeharsha,Naveen</h6>
                </div>
             </div>
             <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 ">
              <div class="h-height bg-white link-image ">
               <h6 class="h6-title h-t-align">Space Name : Harish</h6>
               <h6 class="h6-title h-t-align">Space ID: Harish.locat</h6>
               <h6 class="h6-title h-t-align">Meeting Numbers:Sreeharsha,Naveen</h6>
              </div></div>
             <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 ">
              <div class="h-height bg-white link-image">
               <h6 class="h6-title h-t-align">Space Name : Harish</h6>
               <h6 class="h6-title h-t-align">Space ID: Harish.locat</h6>
               <h6 class="h6-title h-t-align">Meeting Numbers:Sreeharsha,Naveen</h6>
              </div>
             </div>
             <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 ">
              <div class="h-height bg-white link-image">
               <h6 class="h6-title h-t-align">Space Name : Harish</h6>
               <h6 class="h6-title h-t-align">Space ID: Harish.locat</h6>
               <h6 class="h6-title h-t-align">Meeting Numbers:Sreeharsha,Naveen</h6>
              </div>
             </div>
           </div>
       </div>
     </section>
     <% include footer %>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.contenthover.min.js"></script>
    <script src="/scripts/general.js"></script>
    <script src="/scripts/sapacelist.js"></script>


  </body>
</html>
