<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">
    <link rel="stylesheet" href="/styles/meeting.css">
   </head>
    <body class="bg-white">
    <!-- Page -->
    <% include navbarhome %>
    <div class="page h-padding-none">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <section class="breadcrumbs-custom bg-gray-lighter">
        <div class="shell">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Meeting Hub</p>
            <ul class="breadcrumbs-custom__path">
              <li><a href="#home">Home</a></li>
              <li class="active">Space</li>
            </ul>
          </div>
        </div>
      </section>


      <section class="h-section-top bg-white">
       <div class="shell">

        <!-- search box -->
          <div class="range range-10" >
            <div class="cell-sm-4 cell-md-4 cell-xs-4 cell-lg-4 h-div-padding "></div>
            <div class="cell-sm-4 cell-md-4 cell-xs-4 cell-lg-4 h-div-padding ">
             <input class="form-input bg-gray-lighter h-search-h" type="text" name="search" placeholder="Search">
             </div>
            <div class="cell-sm-4 cell-md-4 cell-xs-4 cell-lg-4 h-div-padding ">

            </div>

          </div>

          <div class="range range-70" >
            <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
              <div class="h-height  bg-gray-lighter h-div-border  link-image ">
                <div class="fadeInUpSmall h-a-buttom-top">
                  <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp>
                  <div class="h-div-padding">
                    <!-- h-a-buttom-top -->
                    <ul class="text-center">
                      <li><h6 class="h6-title ">Space Name : Harish</h6> </li>
                    </ul>
                    <ul><b>
                      <li>
                        <samp class="h6-title t-right ">Start time: 10Am</samp>
                        <samp class="h6-title text-center ">To</samp>
                        <samp class="h6-title t-left ">End time: 11Am</samp>
                      </li></b>
                    </ul>
                    <h6 class="h6-title ">Space ID: Harish.locat</h6>
                    <h6 class="h6-title ">Meeting Numbers:Sreeharsha,Naveen</h6>
                   </div>
                 </div>
                 <div id="icon-list" class=" h-i-bottom text-center ">
                   <ul class="list-inline-md  h-a-buttom-top">
                     <li><a class="icon-cursor  icon-sm fa-edit"  data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                     <li><a class="icon-cursor icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                     <li><a class="icon-cursor icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                     <li><a class="icon-cursor icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="" href="#Delete"></a></li>
                     <li><a class="icon-cursor icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                   </ul>
                 </div>
               </div>
             </div>
            <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
               <div class="h-height bg-gray-lighter h-div-border  link-image">
                 <div class="fadeInUpSmall h-a-buttom-top">
                   <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp>
                   <div class="h-div-padding">
                     <!-- h-a-buttom-top -->
                     <ul class="text-center">
                       <li><h6 class="h6-title ">Space Name : Harish</h6> </li>
                     </ul>
                     <ul><b>
                       <li>
                         <samp class="h6-title t-right ">Start time: 10Am</samp>
                         <samp class="h6-title text-center ">To</samp>
                         <samp class="h6-title t-left ">End time: 11Am</samp>
                       </li></b>
                     </ul>
                     <h6 class="h6-title ">Space ID: Harish.locat</h6>
                     <h6 class="h6-title ">Meeting Numbers:Sreeharsha,Naveen</h6>
                    </div>
                  </div>
                  <div id="icon-list" class=" h-i-bottom text-center ">
                    <ul class="list-inline-md  h-a-buttom-top">
                      <li><a class="icon-cursor  icon-sm fa-edit"  data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                      <li><a class="icon-cursor icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                      <li><a class="icon-cursor icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                      <li><a class="icon-cursor icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="" href="#Delete"></a></li>
                      <li><a class="icon-cursor icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
              <div class="h-height bg-white h-div-border  link-image">
                <div class="fadeInUpSmall h-a-buttom-top">
                  <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp>
                  <div class="h-div-padding">
                    <!-- h-a-buttom-top -->
                    <ul class="text-center">
                      <li><h6 class="h6-title ">Space Name : Harish</h6> </li>
                    </ul>
                    <ul><b>
                      <li>
                        <samp class="h6-title t-right ">Start time: 10Am</samp>
                        <samp class="h6-title text-center ">To</samp>
                        <samp class="h6-title t-left ">End time: 11Am</samp>
                      </li></b>
                    </ul>
                    <h6 class="h6-title ">Space ID: Harish.locat</h6>
                    <h6 class="h6-title ">Meeting Numbers:Sreeharsha,Naveen</h6>
                   </div>
                 </div>
                 <div id="icon-list" class=" h-i-bottom text-center ">
                   <ul class="list-inline-md  h-a-buttom-top">
                     <li><a class="icon-cursor  icon-sm fa-edit"  data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                     <li><a class="icon-cursor icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                     <li><a class="icon-cursor icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                     <li><a class="icon-cursor icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="" href="#Delete"></a></li>
                     <li><a class="icon-cursor icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                   </ul>
                 </div>
               </div>
             </div>
            <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
              <div class="h-height bg-white h-div-border  link-image">
                <div class="fadeInUpSmall h-a-buttom-top">
                  <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp>
                   <div class="h-div-padding">
                     <!-- h-a-buttom-top -->
                     <ul class="text-center">
                       <li><h6 class="h6-title ">Space Name : Harish</h6> </li>
                     </ul>
                     <ul><b>
                       <li>
                          <samp class="h6-title t-right ">Start time: 10Am</samp>
                          <samp class="h6-title text-center ">To</samp>
                          <samp class="h6-title t-left ">End time: 11Am</samp>
                        </li></b></ul>
                        <h6 class="h6-title ">Space ID: Harish.locat</h6>
                        <h6 class="h6-title ">Meeting Numbers:Sreeharsha,Naveen</h6>
                      </div>
                    </div>
                    <div id="icon-list" class=" h-i-bottom text-center">
                       <ul class="list-inline-md  h-a-buttom-top">
                         <li><a class="icon-cursor  icon-sm fa-edit" data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                         <li><a class="icon-cursor icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                         <li><a class="icon-cursor icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                         <li><a class="icon-cursor icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="" href="#Delete"></a></li>
                         <li><a class="icon-cursor icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>

<% include footer %>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.contenthover.min.js"></script>
    <script src="/scripts/general.js"></script>
    <script src="/scripts/spacelist.js"></script>


  </body>
</html>
