<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">
    <link rel="stylesheet" href="/styles/meeting.css">
   </head>
    <body class=" bg-white">
    <!-- Page -->
    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <div class="container-fluid breadcrumb-container">
          <ol class="breadcrumb">
              <h5 class="meeting-head-bread">Space List</h5>
              <li><a href="#" class="breadcrumb-links">Home</a></li>
              <li>SpaceList</li>
          </ol>
      </div>

      <section class="h-section-top ">
       <div class="shell">
        <!-- search box -->
          <div class="range range-10" >
            <div class="cell-sm-2 cell-md-4 cell-xs-2 cell-lg-4 h-div-padding ">

            </div>
            <div class="cell-sm-8 cell-md-4 cell-xs-8 cell-lg-4 h-div-padding ">
             <input class="form-input bg-gray-lighter  h-search-h" type="text" name="search" placeholder="Search">

            </div>
            <div class="cell-sm-2 cell-md-4 cell-xs-2 cell-lg-4 h-div-padding "> </div>

          </div>

        <div class="range range-70" >
            <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
              <div class="h-height  bg-gray-lighter h-div-border  link-image ">
                <div class="fadeInUpSmall h-a-buttom-top">
                  <div class="t-padding">
                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                     <div class="col-md-6 col-sm-6 col-md-10 col-xs-10 col-lg-10 text-center" ><b><h6>Space Name : Harish</h6></b></div>
                     <div class="col-md-6 col-sm-6 col-md-2 col-xs-2 col-lg-2 text-center" > <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp></div>

                   </div>
                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 h-padding-none">
                     <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title ">Start time: 10Am</h6></div>
                     <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title t-right">End time: 11Am</h6></div>
                   </div>
                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                     <h6 class="h6-title">Meeting Numbers:</h6>
                     </div>
                   </div>

                 </div>
                 <div id="icon-list" class="thumb-corporate__overlay h-i-bottom text-center h-m-icon-top ">
                  <ul class="list-inline-sm  h-a-buttom-top">
                     <li><a class="thumb-corporate__list icon-sm fa-edit" data-toggle="tooltip" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                     <li><a class="thumb-corporate__list icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                     <li><a class="thumb-corporate__list icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                     <li><a class="thumb-corporate__list icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="Member" href="#Member"></a></li>
                     <li><a class="thumb-corporate__list icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                    </ul>
                    </div>
                   </div>
                  </div>
                  <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
                    <div class="h-height  bg-gray-lighter h-div-border  link-image ">
                      <div class="fadeInUpSmall h-a-buttom-top">
                        <div class="t-padding">
                         <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                           <div class="col-md-6 col-sm-6 col-md-10 col-xs-10 col-lg-10 text-center" ><b><h6>Space Name : Harish</h6></b></div>
                           <div class="col-md-6 col-sm-6 col-md-2 col-xs-2 col-lg-2 text-center" > <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp></div>

                         </div>
                         <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 h-padding-none">
                           <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title ">Start time: 10Am</h6></div>
                           <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title t-right">End time: 11Am</h6></div>
                         </div>
                         <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                           <h6 class="h6-title">Meeting Numbers:</h6>
                           </div>
                         </div>

                       </div>
                       <div id="icon-list" class="thumb-corporate__overlay h-i-bottom text-center h-m-icon-top ">
                        <ul class="list-inline-sm  h-a-buttom-top">
                           <li><a class="thumb-corporate__list icon-sm fa-edit" data-toggle="tooltip" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                           <li><a class="thumb-corporate__list icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                           <li><a class="thumb-corporate__list icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                           <li><a class="thumb-corporate__list icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="Member" href="#Member"></a></li>
                           <li><a class="thumb-corporate__list icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                          </ul>
                          </div>
                         </div>
                        </div>
                        <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
                          <div class="h-height  bg-gray-lighter h-div-border  link-image ">
                            <div class="fadeInUpSmall h-a-buttom-top">
                              <div class="t-padding">
                               <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                                 <div class="col-md-6 col-sm-6 col-md-10 col-xs-10 col-lg-10 text-center" ><b><h6>Space Name : Harish</h6></b></div>
                                 <div class="col-md-6 col-sm-6 col-md-2 col-xs-2 col-lg-2 text-center" > <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp></div>

                               </div>
                               <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 h-padding-none">
                                 <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title ">Start time: 10Am</h6></div>
                                 <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title t-right">End time: 11Am</h6></div>
                               </div>
                               <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                                 <h6 class="h6-title">Meeting Numbers:</h6>
                                 </div>
                               </div>

                             </div>
                             <div id="icon-list" class="thumb-corporate__overlay h-i-bottom text-center h-m-icon-top ">
                              <ul class="list-inline-sm  h-a-buttom-top">
                                 <li><a class="thumb-corporate__list icon-sm fa-edit" data-toggle="tooltip" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                                 <li><a class="thumb-corporate__list icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                                 <li><a class="thumb-corporate__list icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                                 <li><a class="thumb-corporate__list icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="Member" href="#Member"></a></li>
                                 <li><a class="thumb-corporate__list icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                                </ul>
                                </div>
                               </div>
                              </div>
                              <div class="cell-sm-6 cell-md-3 cell-xs-12 cell-lg-3 thumb-corporate fadeInUpSmall h-a-buttom-top">
                                <div class="h-height  bg-gray-lighter h-div-border  link-image ">
                                  <div class="fadeInUpSmall h-a-buttom-top">
                                    <div class="t-padding">
                                     <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">

                                       <div class="col-md-6 col-sm-6 col-md-10 col-xs-10 col-lg-10 text-center" ><b><h6>Space Name : Harish</h6></b></div>
                                       <div class="col-md-6 col-sm-6 col-md-2 col-xs-2 col-lg-2 text-center" > <samp ><a class=" h-r-star t-left icon-cursor  icon-sm fa-star" href="#"></a></samp></div>

                                     </div>
                                     <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 h-padding-none">
                                       <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title ">Start time: 10Am</h6></div>
                                       <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6" ><h6 class="h6-title t-right">End time: 11Am</h6></div>
                                     </div>
                                     <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                                       <h6 class="h6-title">Meeting Numbers:</h6>
                                       </div>
                                     </div>

                                   </div>
                                   <div id="icon-list" class="thumb-corporate__overlay h-i-bottom text-center h-m-icon-top ">
                                    <ul class="list-inline-sm  h-a-buttom-top">
                                       <li><a class="thumb-corporate__list icon-sm fa-edit" data-toggle="tooltip" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="Edit" href="#Edit"></a></li>
                                       <li><a class="thumb-corporate__list icon-sm fa-envelope-o" data-toggle="tooltip" data-placement="top" title="Invite" href="#invite"></a></li>
                                       <li><a class="thumb-corporate__list icon-sm fa-trash" data-toggle="tooltip" data-placement="top" title="Delete" href="#Delete"></a></li>
                                       <li><a class="thumb-corporate__list icon-sm fa-users" data-toggle="tooltip" data-placement="top" title="Member" href="#Member"></a></li>
                                       <li><a class="thumb-corporate__list icon-sm fa-cog" data-toggle="tooltip" data-placement="top" title="Settings" href="#Settings"></a></li>
                                      </ul>
                                      </div>
                                     </div>
                                    </div>





              </div>
              <a id="ceateSpace" data-toggle="tooltip" data-placement="bottom" title="CreateSpace" class="button button-primary icon linear-icon-plus newmeeting-btn-circle"></a>

            </div>
           </div>
        </div>

       </section>

     <% include footer %>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.contenthover.min.js"></script>
    <script src="/scripts/general.js"></script>
    <script src="/scripts/spacelist.js"></script>
    <script>
        $(document).ready(function(){
            $("#spacesList").addClass("active");
        });
    </script>
  </body>
</html>
