<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/users.css">
    <link rel="stylesheet" href="/styles/oldmeeting.css">
    
  </head>
  <body>
    <!-- Page -->
    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <div class="container-fluid breadcrumb-container">
          <ol class="breadcrumb">
              <h5 class="meeting-head-bread">Users</h5>
              <li><a href="#" class="breadcrumb-links">Home</a></li>
              <li>Users</li>
          </ol>
      </div>
      <div class="searchBtn-pagination-container">
          <div class="form-wrap form-wrap_icon linear-icon-magnifier search-btn">
            <input class="form-input search-input" type="text" name="search" placeholder="Search">
          <!-- </div> -->
          </div>
          <nav class="top-pagination">
            <ul class="pagination-classic">
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
            </ul>
          </nav> 
      </div> 
      <section class="section-lg bg-white text-center meeting-main-section">
          <div class="shell">
            <!-- <div class="range range-30 range-md-center">
              <div class="cell-md-11 cell-lg-9">
                <h3>Represent Your Staff</h3>
                <p>You can easily display the members of your staff, team or workforce. Within Monstroid² template you can present your team members using the perfectly looking and easy-to-use interface with special design and multiple styling options.</p>
              </div>
            </div> -->
            <div class="range range-50 offset-top-1">

              <div class="cell-sm-6 cell-md-4 cell-lg-3 users-cell">
                <!-- Thumb corporate-->
                <div class="thumb thumb-corporate users-corp users-corp_main well well-lg bg-white">
                  <div class="thumb-corporate__main users_corp_main2"><img src="" alt="" width="0" height="0">
                    <div class="thumb-corporate__overlay users_corp_overlay">
                      <ul class="list-inline-sm thumb-corporate__list options">
                        <li><a class="icon linear-icon-pencil4" id="edit1" href="#" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Edit"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="thumb-corporate__caption users-corp__caption">
                      <div class="contents_1">
                        <a href="#" class="subtitle-users-head"><p class="thumb__subtitle">sreeharsha.gv@inflexion.com</p></a>
                        <p class="thumb__subtitle subtitle-users">Sreeharsha G V</p>
                        <p class="thumb__subtitle subtitle-users">sreeharsha.gv@inflexion.com</p>
                        <p class="thumb__subtitle subtitle-users">User</p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 cell-lg-3 users-cell">
                  <!-- Thumb corporate-->
                  <div class="thumb thumb-corporate users-corp users-corp_main well well-lg bg-white">
                    <div class="thumb-corporate__main users_corp_main2"><img src="" alt="" width="0" height="0">
                      <div class="thumb-corporate__overlay users_corp_overlay">
                        <ul class="list-inline-sm thumb-corporate__list options">
                          <li><a class="icon linear-icon-pencil4 edit_link" href="#" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Edit"></a></li>
                        </ul>
                      </div>
                    </div>
                      <div class="thumb-corporate__caption users-corp__caption">
                        <div class="contents_1">
                          <a href="#" class="subtitle-users-head"><p class="thumb__subtitle">test@inflexion.com</p></a>
                          <p class="thumb__subtitle subtitle-users">test inflexion.com</p>
                          <p class="thumb__subtitle subtitle-users">test@inflexion.com</p>
                          <p class="thumb__subtitle subtitle-users">User</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="cell-sm-6 cell-md-4 cell-lg-3 users-cell">
                    <!-- Thumb corporate-->
                    <div class="thumb thumb-corporate users-corp users-corp_main well well-lg bg-white">
                      <div class="thumb-corporate__main users_corp_main2"><img src="" alt="" width="0" height="0">
                        <div class="thumb-corporate__overlay users_corp_overlay">
                          <ul class="list-inline-sm thumb-corporate__list options">
                            <li><a class="icon linear-icon-pencil4 edit_link" href="#" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Edit"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="thumb-corporate__caption users-corp__caption">
                        <div class="contents_1">
                          <a href="#" class="subtitle-users-head"><p class="thumb__subtitle">sreeharsha.gv@inflexion.com</p></a>
                          <p class="thumb__subtitle subtitle-users">Sreeharsha inflexion.com</p>
                          <p class="thumb__subtitle subtitle-users">sreeharsha.gv@inflexion.com</p>
                          <p class="thumb__subtitle subtitle-users">User</p>
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="cell-sm-6 cell-md-4 cell-lg-3 users-cell">
                      <!-- Thumb corporate-->
                      <div class="thumb thumb-corporate users-corp users-corp_main well well-lg bg-white">
                        <div class="thumb-corporate__main users_corp_main2"><img src="" alt="" width="0" height="0">
                          <div class="thumb-corporate__overlay users_corp_overlay">
                            <ul class="list-inline-sm thumb-corporate__list options">
                              <li><a class="icon linear-icon-pencil4" href="#" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Edit"></a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="thumb-corporate__caption users-corp__caption">
                          <div class="contents_1">
                            <a href="#" class="subtitle-users-head"><p class="thumb__subtitle">satish@inflexion.com</p></a>  
                            <p class="thumb__subtitle subtitle-users">Satish Anand</p>
                            <p class="thumb__subtitle subtitle-users">satish@inflexion.com</p>
                            <p class="thumb__subtitle subtitle-users">Operator</p>
                          </div>
                      </div>
                      </div>
                    </div>
            </div>
          </div>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add User" class="button button-primary icon linear-icon-plus newmeeting-btn-circle"></a>
          <nav class="pagination-nav">
              <ul class="pagination-classic">
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
              </ul>
          </nav>  
        </section>
    </div>
    <% include footer %>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/general.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({container: 'body'});   
            $("#usersList").addClass("active");
        });
    </script>
  </body>
</html>