<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/node_modules/datetimepicker-master/build/jquery.datetimepicker.min.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/newmeeting.css">
    <link rel="stylesheet" href="/styles/oldmeeting.css">
    <link rel="stylesheet" href="/styles/meeting.css">
    <link rel="stylesheet" href="/styles/spaces.css">


   </head>
    <body class=" bg-white">
    <!-- Page -->

    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <div class="container-fluid breadcrumb-container">
          <ol class="breadcrumb">
              <h5 class="meeting-head-bread">Users</h5>
              <li><a href="/dashboard" class="breadcrumb-links">Dashboard</a></li>
              <li>Users</li>
          </ol>
      </div>


      <section>
       <div class="shell">
        <!-- search box -->
            <div class="range range-5 h-m-top-none " >
             <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">

               <div class=" col-md-12 col-xs-12 col-lg-4 h-m-top-none "></div>
               <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none ">
                <input class="form-input bg-gray-lighter  h-search-h" type="text" name="search" placeholder="Search">
               </div>
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-pages-next  "><nav>
                </div>

               </div>
               <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">

                 <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 h-m-top-none "></div>
                 <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none  h-navber-padding ">
                  <nav >
                   <ul class="pagination-classic  h-m-top-none">
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                   </ul>
                  </nav>
                 </div></div>
                  <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 h-pages-next "><nav>
                  </div>
                 </div>
                 <div class="range range-70" >
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                   <div class="h-height  bg-white h-div-border  link-image ">
                      <div class="t-padding">
                          <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                              
                                                        <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                                         <ul class="text-center" >
                                                          <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                                         </ul>
                                                         <ul >
                                                         <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                                        </ul>
                                                        
                                                         <ul>
                                                          <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                                         </ul>
                                                         <ul>
                                                          <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                                         </ul>
                                                    
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                                      
                                                       </div>
                              
                                                      </div>
                         </div>
  
                       <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                          <div id="icon-list" class="thumb-corporate__overlay text-center  h-i-m-top ">
                              <ul class="list-inline-sm  ">
                                  <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                                   </ul>
                               </div>
                              </div>
                         </div>
                        </div>
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                   <div class="h-height  bg-white h-div-border  link-image ">
                      <div class="t-padding">
                          <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                              
                                                        <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                                         <ul class="text-center" >
                                                          <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                                         </ul>
                                                         <ul >
                                                         <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                                        </ul>
                                                        
                                                         <ul>
                                                          <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                                         </ul>
                                                         <ul>
                                                          <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                                         </ul>
                                                    
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                                      
                                                       </div>
                              
                                                      </div>
                         </div>
  

                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                         <div id="icon-list" class=" thumb-corporate__overlay text-center h-i-m-top  ">
                            <ul class="list-inline-sm  ">
                                <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                                 </ul>
                       
                         </div>
                        </div>
                       </div>
                      </div>
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                        <div class="h-height  bg-white h-div-border  link-image ">
                            <div class="t-padding">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                    
                                                              <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                                               <ul class="text-center" >
                                                                <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                                               </ul>
                                                               <ul >
                                                               <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                                              </ul>
                                                              
                                                               <ul>
                                                                <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                                               </ul>
                                                               <ul>
                                                                <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                                               </ul>
                                                          
                                                              </div>
                                                              <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                                            
                                                             </div>
                                    
                                                            </div>
                               </div>
        

                             <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                              <div id="icon-list" class=" thumb-corporate__overlay text-center  h-i-m-top ">
                                  <ul class="list-inline-sm  ">
                                      <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                                        </ul>
                              </div>
                             </div>
                            </div>
                           </div>
                  <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                             <div class="h-height  bg-white h-div-border  link-image ">
                                <div class="t-padding">
                                    <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                        
                                                                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                                                   <ul class="text-center" >
                                                                    <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                                                   </ul>
                                                                   <ul >
                                                                   <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                                                  </ul>
                                                                  
                                                                   <ul>
                                                                    <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                                                   </ul>
                                                                   <ul>
                                                                    <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                                                   </ul>
                                                              
                                                                  </div>
                                                                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                                                
                                                                 </div>
                                        
                                                                </div>
                                   </div>
            
                                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                   <div id="icon-list " class=" thumb-corporate__overlay text-center h-i-m-top  ">
                                      <ul class="list-inline-sm  ">
                                          <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                                            </ul>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                       </div>






                       <div class="range range-70" >
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                         <div class="h-height  bg-white h-div-border  link-image ">
                            <div class="t-padding">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                    
                                                              <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                                               <ul class="text-center" >
                                                                <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                                               </ul>
                                                               <ul >
                                                               <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                                              </ul>
                                                              
                                                               <ul>
                                                                <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                                               </ul>
                                                               <ul>
                                                                <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                                               </ul>
                                                          
                                                              </div>
                                                              <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                                            
                                                             </div>
                                    
                                                            </div>
                               </div>
        
                             <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">




                       <div id="icon-list" class="thumb-corporate__overlay text-center h-i-m-top ">
                          <ul class="list-inline-sm  ">
                              <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                               </ul>
                       </ul>
                       </div>
                      </div>
                               </div>
                              </div>
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                         <div class="h-height  bg-white h-div-border  link-image ">
                            <div class="t-padding">
                                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                    
                                                              <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                                               <ul class="text-center" >
                                                                <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                                               </ul>
                                                               <ul >
                                                               <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                                              </ul>
                                                              
                                                               <ul>
                                                                <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                                               </ul>
                                                               <ul>
                                                                <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                                               </ul>
                                                          
                                                              </div>
                                                              <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                                            
                                                             </div>
                                    
                                                            </div>
                               </div>
        
                         <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                               <div id="icon-list" class=" thumb-corporate__overlay text-center  h-i-m-top ">
                                  <ul class="list-inline-sm  ">
                                      <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                                         </ul>
                               </ul>
                               </div>
                              </div>
                             </div>
                            </div>
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                              <div class="h-height  bg-white h-div-border  link-image ">
                                  <div class="t-padding">
                                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                          
                                                                    <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                                                     <ul class="text-center" >
                                                                      <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                                                     </ul>
                                                                     <ul >
                                                                     <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                                                    </ul>
                                                                    
                                                                     <ul>
                                                                      <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                                                     </ul>
                                                                     <ul>
                                                                      <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                                                     </ul>
                                                                
                                                                    </div>
                                                                    <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                                                  
                                                                   </div>
                                          
                                                                  </div>
                                     </div>
              

                                   <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                    <div id="icon-list" class=" thumb-corporate__overlay text-center  h-i-m-top ">
                                        <ul class="list-inline-sm  ">
                                            <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                                              </ul>
                                    </ul>
                                    </div>
                                   </div>
                                  </div>
                                 </div>
                        <div class="cell-sm-6 cell-md-4 cell-xs-12 cell-lg-3 thumb-corporate ">
                                   <div class="h-height  bg-white h-div-border  link-image ">
                                      <div class="t-padding">
                                          <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                  
                                            <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 " >
                                             <ul class="text-center" >
                                              <li>  <b><h6 class="h6-title-color-meeting" >Sreeharsha inflexion.com </h6></b> </li>
                                             </ul>
                                             <ul >
                                             <li> <b><h6 class="h6-title">Name: Satish Anand</h6></b>    </li>
                                            </ul>
                                            
                                             <ul>
                                              <li> <h6 class=" h6-title-color-owner  ">Email: satish@inflexion.com</h6> </li>
                                             </ul>
                                             <ul>
                                              <li> <h6 class="h6-title ">Role: Operator</h6> </li>
                                             </ul>
                                        
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 text-center">
                                          
                                           </div>
                  
                                          </div>
                                         </div>
                  

                                        <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 ">
                                         <div id="icon-list" class="thumb-corporate__overlay text-center  h-i-m-top ">
                                            <ul class="list-inline-sm  ">
                                               <li><p class="btn h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color  icon-sm " data-toggle="tooltip" data-placement="top" title="Edit" href="#Settings"><i class="linear-icon-pencil5"></i></p></li>
                                               </ul>
                                         </ul>
                                         </div>
                                        </div>
                                       </div>
                                      </div>
                             </div>












           <a  href="#CreateUsers"data-toggle="tooltip" data-placement="bottom" title="CreateUsers" class="button button-primary icon linear-icon-plus newmeeting-btn-circle"></a>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none  ">

              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 h-m-top-none "></div>
              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none  h-navber-padding">
               <nav>
                <ul class="pagination-classic  h-m-top-none">
                 <li class="active"><span>1</span></li>
                 <li><a href="#">2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">4</a></li>
                 <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                </ul>
               </nav>
              </div></div>

           </div>
        </div>




       </section>


     <%include footer %>








    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/jquery.contenthover.min.js"></script>
    <script src="/scripts/general.js"></script>
    <script src="/scripts/spacelist.js"></script>

    <script>
       $(document).ready(function(){
        $("#usersList").addClass("active");
            
        });
    </script>
  </body>
</html>
