<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/users.css">

  </head>
  <body>
    <!-- Page -->
    <% include navbarhome %>
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      
      <section class="section-md bg-gray-lighter text-center main-users-section">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="thumbnail">
                <div class="caption">
                  <h4>John Doe</h4>
                    <ul>
                      <li>Username</li>
                      <li>Display as</li>
                      <li>Job title</li>
                      <li>Organisation</li>
                    </ul>  
                    <p><a href="#" class="button button-primary button-block" role="button">View More</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4>Steve Harrison</h4>
                    <ul>
                        <li>Username</li>
                        <li>Display as</li>
                        <li>Job title</li>
                        <li>Organisation</li>
                      </ul> 
                      <p><a href="#" class="button button-primary button-block" role="button">View More</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h4>Mike Corrison</h4>
                      <ul>
                          <li>Username</li>
                          <li>Display as</li>
                          <li>Job title</li>
                          <li>Organisation</li>
                      </ul> 
                        <p><a href="#" class="button button-primary button-block" role="button">View More</a></p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h4>Mitch Johnson</h4>
                      <ul>
                          <li>Username</li>
                          <li>Display as</li>
                          <li>Job title</li>
                          <li>Organisation</li>
                      </ul> 
                        <p><a href="#" class="button button-primary button-block" role="button">View More</a></p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="thumbnail">
                    <div class="caption">
                      <h4>Steve Hardy Pennsylvania</h4>
                      <ul>
                          <li>Username</li>
                          <li>Display as</li>
                          <li>Job title</li>
                          <li>Organisation</li>
                      </ul> 
                        <p><a href="#" class="button button-primary button-block" role="button">View More</a></p>
                    </div>
                  </div>
              </div>
          </div>
          
      </section>

    </div>
    <% include footer %>
    <script src="/scripts/core.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/general.js"></script>
  </body>
</html>