<!DOCTYPE html>
<html class="wide wow-animation smoothscroll" lang="en">

<head>
  <!-- Site Title-->
  <title>CMS Hub Spaces</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link href="/images/logo.png" rel="icon" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/newmeeting.css">
  <link rel="stylesheet" href="/styles/oldmeeting.css">
  <link rel="stylesheet" href="/styles/meeting.css">
  <link rel="stylesheet" href="/styles/spaces.css">
  <link rel="stylesheet" href="/styles/component.css">
  <link rel="stylesheet" href="/styles/content.css">

</head>

<body class=" bg-white">
  <!-- BEGIN Zoom Div -->
  <% include navbarhome %>
    <div class="page">
      <!-- BEGIN page loader -->
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- End page loader -->

      <!-- BEGIN Spaces toolbar-->
      <div class="container-fluid breadcrumb-container">
        <ol class="breadcrumb">
          <h5 class="meeting-head-bread">Spaces</h5>
          <li><a href="/dashboard" class="breadcrumb-links">Dashboard</a></li>
          <li>Spaces</li>
        </ol>
      </div>
      <!-- END Spaces toolbar-->

      <section>
        <!-- BEGIN Spaces pagination head -->
        <div class="shell">
          <!-- BEGIN Spaces search head -->
          <div class="range range-5 h-m-top-none ">

            <div class="searchBtn-pagination-container ">

              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-8">
                  <div class="form-wrap form-wrap_icon linear-icon-magnifier head-search-w-h search-margin-top">
                    <input class="form-input search-input " type="text" name="search" placeholder="Enter the Spacename">
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-4">
                  <div class="pagination-margin-top">
                    <nav>
                      <ul class="pagination-classic ">
                        <li class="active pagination-next  "><span class="pagination-text-color">1</span></li>
                        <li ><a href="#">2</a></li>
                        <li ><a href="#">3</a></li>
                        <li ><a href="#">4</a></li>
                        <li ><a class=" border-none icon-arrow-right linear-icon-arrow-right" href="#"></a></li>
                      </ul>
                    </nav>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- END Spaces search head -->
          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
            <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-color link-image h-div-border s-height">
              <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  ">
                <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                  <ul class="text-center"><li> <b><h6 class="h6-title-color text-overflow-title h6-title-medium">Harish@.inflexiontech.com</h6></b></li></ul>
                  <ul><li> <b><h6 class="h6-title text-overflow-title ">Owner:</h6></b></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title ">Layout Type : allEqual</h6></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title ">Call ID: 700102</h6></li></ul>
                  <ul><li><h6 class="h6-title text-overflow-title ">Members : 5</h6></li></ul>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                  <ul><li>
                    <samp class="icon-margin-top">
                      <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="Status"  ></a>
                      <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="Not starred" ></a>
                    </samp>
                  </li></ul>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                  <ul class="list-inline-sm"><li>
                    <p class="btn  actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="Info" href="#Settings">
                      <i class="linear-icon-reading"></i>
                    </p>
                  </li>
                  <li>
                    <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings">
                      <i class="linear-icon-trash2"></i>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="morph-content">
              <div class="content-style-form content-style-form-1">
                <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                    <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                    <ul>
                      <li><b><h6 class="h6-title">Owner:</h6></b></li>
                      <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                      <li><h6 class="h6-title ">Members : 5</h6></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                    <ul>
                      <li class="members-padding-icon" >
                        <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="close" href="#close">
                          <i class="linear-icon-cross2"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="members-padding scroll-icon">
                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top text-overflow-title">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-md-6 col-xs-6 col-lg-6">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Ravi.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Sanjay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Vijay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Naveen.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Prakash@.inflexiontech.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
            <!-- morph-button -->
          </div>

          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
            <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-color link-image h-div-border s-height">
              <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  ">
                <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                  <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium">Harish@.inflexiontech.com</h6></b></li></ul>
                  <ul><li> <b><h6 class="h6-title">Owner:</h6></b></li></ul>
                  <ul><li><h6 class="h6-title ">Layout Type : allEqual</h6></li></ul>
                  <ul><li><h6 class="h6-title ">Call ID: 700102</h6></li></ul>
                  <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                  <ul><li>
                    <samp class="icon-margin-top">
                      <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="Status"  ></a>
                      <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="Not starred" ></a>
                    </samp>
                  </li></ul>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                  <ul class="list-inline-sm"><li>
                    <p class="btn  actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="Info" href="#Settings">
                      <i class="linear-icon-reading"></i>
                    </p>
                  </li>
                  <li>
                    <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings">
                      <i class="linear-icon-trash2"></i>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="morph-content">
              <div class="content-style-form content-style-form-1">
                <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                    <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                    <ul>
                      <li><b><h6 class="h6-title">Owner:</h6></b></li>
                      <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                      <li><h6 class="h6-title ">Members : 5</h6></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                    <ul>
                      <li class="members-padding-icon" >
                        <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="close" href="#close">
                          <i class="linear-icon-cross2"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="members-padding scroll-icon">
                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Ravi.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Sanjay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Vijay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Naveen.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Prakash@.inflexiontech.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
            <!-- morph-button -->
          </div>


          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
            <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-color link-image h-div-border s-height">
              <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  ">
                <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                  <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium">Harish@.inflexiontech.com</h6></b></li></ul>
                  <ul><li> <b><h6 class="h6-title">Owner:</h6></b></li></ul>
                  <ul><li><h6 class="h6-title ">Layout Type : allEqual</h6></li></ul>
                  <ul><li><h6 class="h6-title ">Call ID: 700102</h6></li></ul>
                  <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                  <ul><li>
                    <samp class="icon-margin-top">
                      <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="Status"  ></a>
                      <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="Not starred" ></a>
                    </samp>
                  </li></ul>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                  <ul class="list-inline-sm"><li>
                    <p class="btn  actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="Info" href="#Settings">
                      <i class="linear-icon-reading"></i>
                    </p>
                  </li>
                  <li>
                    <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings">
                      <i class="linear-icon-trash2"></i>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="morph-content">
              <div class="content-style-form content-style-form-1">
                <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                    <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                    <ul>
                      <li><b><h6 class="h6-title">Owner:</h6></b></li>
                      <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                      <li><h6 class="h6-title ">Members : 5</h6></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                    <ul>
                      <li class="members-padding-icon" >
                        <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="close" href="#close">
                          <i class="linear-icon-cross2"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="members-padding scroll-icon">
                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Ravi.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Sanjay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Vijay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Naveen.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Prakash@.inflexiontech.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
            <!-- morph-button -->
          </div>


          <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3 ">
            <div class=" morph-button div-top thumb-corporate morph-button-modal morph-button-modal-2 morph-button-fixed  bg-color link-image h-div-border s-height">
              <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12  ">
                <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 ">
                  <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium">Harish@.inflexiontech.com</h6></b></li></ul>
                  <ul><li> <b><h6 class="h6-title">Owner:</h6></b></li></ul>
                  <ul><li><h6 class="h6-title ">Layout Type : allEqual</h6></li></ul>
                  <ul><li><h6 class="h6-title ">Call ID: 700102</h6></li></ul>
                  <ul><li><h6 class="h6-title ">Members : 5</h6></li></ul>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 ">
                  <ul><li>
                    <samp class="icon-margin-top">
                      <a class="h-r-star  icon-cursor h-icon-star-color icon-sm fa-dot-circle-o " data-toggle="tooltip" data-placement="top" title="Status"  ></a>
                      <a class="h-r-star  icon-cursor  h-icon-star-color icon-sm linear-icon-star"  data-toggle="tooltip" data-placement="top"  title="Not starred" ></a>
                    </samp>
                  </li></ul>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div id="icon-list" class="thumb-corporate__overlay thumb-corporate__overlay-gl text-center  h-i-m-top ">
                  <ul class="list-inline-sm"><li>
                    <p class="btn  actbtn icon-info h-icon-info-sm btn-circle thumb-corporate__list h-iconls-color icon-sm" data-toggle="tooltip" data-placement="top" title="Info" href="#Settings">
                      <i class="linear-icon-reading"></i>
                    </p>
                  </li>
                  <li>
                    <p class="btn btn-circle h-icon-color-sm-delete thumb-corporate__list h-icon-color-sm-delete btn-actived-delete icon-sm "data-toggle="tooltip" data-placement="top" title="Delete" href="#Settings">
                      <i class="linear-icon-trash2"></i>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="morph-content">
              <div class="content-style-form content-style-form-1">
                <div class="contents_1 col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12">
                  <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10 padding-right-none padding-left-none">
                    <ul class="text-center"><li> <b><h6 class="h6-title-color h6-title-medium  ">Harish@.inflexiontech.com</h6></b></li></ul>
                    <ul>
                      <li><b><h6 class="h6-title">Owner:</h6></b></li>
                      <li><h6 class="h6-title ">Call ID: 700102</h6></li>
                      <li><h6 class="h6-title ">Members : 5</h6></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2 padding-right-none padding-left-none">
                    <ul>
                      <li class="members-padding-icon" >
                        <a class=" close-margin-top thumb-corporate__list " data-toggle="tooltip" data-placement="bottom" title="close" href="#close">
                          <i class="linear-icon-cross2"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="members-padding scroll-icon">
                  <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Sreeharsha.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Ravi.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Sanjay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Vijay.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Naveen.inflexiontech@gmail.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-md-12 col-xs-12 col-lg-12 padding-right-none padding-left-none members-margin-t h-div-border">
                        <div class="col-md-4 col-sm-4 col-md-4 col-xs-4 col-lg-2 padding-right-none padding-left-none ">
                          <ul><li><b><h6 class="title-color  title-align text-margin-top">Prakash@.inflexiontech.com</h6></b> </li></ul>
                        </div>
                        <div class="col-md-8 col-sm-8 col-md-8 col-xs-8 col-lg-10">
                          <ul class="list-inline-sm icon-right ">
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-mic"></i> </p></li>
                            <li  class="members-padding-icon" ><p class="btn  btn-warning1 icon-member-circle thumb-corporate__list h-iconls-color icon-size "><i class="linear-icon-camera"></i></p></li>
                            <li  class="members-padding-icon" ><p class="btn  icon-member-circle h-icon-color-sm-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete thumb-corporate__list  h-icon-color-sm-delete btn-actived-delete icon-size "><i class="linear-icon-trash2"></i> </p></li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
            <!-- morph-button -->
          </div>





     <!-- BEGIN Spaces pagination footer -->

     <!-- END Spaces pagination footer -->

      <!-- BEGIN Spaces pagination footer -->
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 h-m-top-none   ">
         <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 h-m-top-none "></div>
         <div class="col-sm-12 col-md-12 col-xs-12 col-lg-4 h-m-top-none  h-navber-padding">

               <nav>
                   <ul class="pagination-classic  h-m-top-none">
                     <li class="active pagination-next"><span class="pagination-text-color">1</span></li>
                     <li><a >2</a></li>
                     <li><a >3</a></li>
                     <li><a >4</a></li>
                     <li><a class=" border-none  icon-arrow-right linear-icon-arrow-right" href="#"></a></li>
                   </ul>
                 </nav>
         </div>
       </div>
        <!-- END Spaces pagination footer -->


        </div>
    </div>
    </section>

    <%include footer %>

      <!-- BEGIN Template script file links -->
      <script src="/node_modules/jquery/dist/jquery.min.js"></script>
      <script src="/scripts/core.min.js"></script>
      <script src="/scripts/script.js"></script>
      <script src="/scripts/jquery.contenthover.min.js"></script>
      <script src="/scripts/general.js"></script>
      <script src="/scripts/modernizr.custom.js"></script>
      <!--  BEGIN Template script file links src -->


      <!-- BEGIN Spaces script -->
      <!-- <script src="/scripts/zoomindiv.js"></script> -->
      <script src="/scripts/classie.js"></script>
      <script src="/scripts/uiMorphingButton_fixed.js"></script>
      <script>
        $(document).ready(function () {
          $("#spacesList").addClass("active");
        });
      </script>

      <script>
        (function () {
          var docElem = window.document.documentElement, didScroll, scrollPosition;

          // trick to prevent scrolling when opening/closing button
          function noScrollFn() {
            window.scrollTo(scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0);
          }

          function noScroll() {
            window.removeEventListener('scroll', scrollHandler);
            window.addEventListener('scroll', noScrollFn);
          }

          function scrollFn() {
            window.addEventListener('scroll', scrollHandler);
          }

          function canScroll() {
            window.removeEventListener('scroll', noScrollFn);
            scrollFn();
          }

          function scrollHandler() {
            if (!didScroll) {
              didScroll = true;
              setTimeout(function () { scrollPage(); }, 60);
            }
          };

          function scrollPage() {
            scrollPosition = { x: window.pageXOffset || docElem.scrollLeft, y: window.pageYOffset || docElem.scrollTop };
            didScroll = false;
          };

          scrollFn();

          [].slice.call(document.querySelectorAll('.morph-button')).forEach(function (bttn) {

            new UIMorphingButton(bttn, {
              closeEl: '.linear-icon-cross2',

              onBeforeOpen: function () {

                // don't allow to scroll
                noScroll();

              },
              onAfterOpen: function () {
                // can scroll again
                canScroll();
              },
              onBeforeClose: function () {
                // don't allow to scroll
                noScroll();
              },
              onAfterClose: function () {
                // can scroll again
                canScroll();
              }
            });

          });

          // for demo purposes only
          [].slice.call(document.querySelectorAll('.actbtn')).forEach(function (bttn) {

            bttn.addEventListener('click', function (ev) { ev.preventDefault(); });
          });
        })();
      </script>
      <!-- End Spaces script -->

      <!-- END Zoom Div -->
</body>

</html>
